<!DOCTYPE html>
<html class="qp-ui" data-qp-ui="{
'Futurizr': {
'hasTouch': 'touch'
}
}">
<head>
<link href="http://www.google.com/design/spec/css/style.css" rel="stylesheet" />
<link href='https://fonts.googleapis.com/css?family=RobotoDraft:400,500,700,400italic' rel='stylesheet' type='text/css'>
<meta charset="utf-8">
<meta name="viewport" content="initial-scale=1, width=device-width"/>
<!--<PageMap><DataObject type="document"><Attribute name="uid">140250156637973</Attribute><Attribute name="title">Structure</Attribute><Attribute name="keywords"></Attribute><Attribute name="slug">structure</Attribute><Attribute name="description">tbd</Attribute><Attribute name="section_title">Layout</Attribute><Attribute name="section_slug">layout</Attribute></DataObject><DataObject type="thumbnail"><Attribute name="src" value="None" /></DataObject></PageMap>-->
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','http://www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-51798601-1', 'google.com');
ga('send', 'pageview');
</script>
<title>Structure - Layout - Google design guidelines</title>
</head>
<body class=" section-layout noninitial-chapter qp-ui" data-qp-ui="{ 'Mask': {} }">
<header>
<div class="header-wrapper">
<div class="header-title">
<span class="section-title">Layout</span>
<span class="chapter-title">Structure</span>
</div>
</div>
</header>
<nav>
<button class="hamburger-button qp-ui" data-qp-ui="{ 'SideNavToggle': {} }" role="tab">Show navigation</button>
</nav>
<div class="preview-bar">
<div class="preview-wrapper">
<span>这是一份预览文档。</span>
</div>
</div>
<div id="side-nav" class="qp-ui" data-qp-ui="{ 'SideNavDrawer': {} }">
<div class="side-nav-wrapper">
<span id="logo"><img src="http://material-design.storage.googleapis.com/images/Google_Logo.svg" alt="Google logo"/></span>
<nav>
<dl>
<dt class="qp-ui" data-qp-ui="{ 'SideNavZippy': false }">Material Design</dt>
<dd>
<a href="../material-design/introduction.html">前言</a>
</dd>
<dt class="qp-ui" data-qp-ui="{ 'SideNavZippy': false }">动画效果</dt>
<dd>
<a href="../animation/authentic-motion.html">真实的动效</a>
<a href="../animation/responsive-interaction.html">响应式交互</a>
<a href="../animation/meaningful-transitions.html">富义的转场</a>
<a href="../animation/delightful-details.html">悦目的细节</a>
</dd>
<dt class="qp-ui" data-qp-ui="{ 'SideNavZippy': false }">风格样式</dt>
<dd>
<a href="../style/color.html">颜色</a>
<a href="../style/typography.html">字体</a>
<a href="../style/icons.html">图标</a>
<a href="../style/imagery.html">图像</a>
</dd>
<dt class="qp-ui" data-qp-ui="{ 'SideNavZippy': true }">排列布局</dt>
<dd>
<a href="layout-principles.html">产品理念</a>
<a href="metrics-and-keylines.html">度量标注</a>
<a class="nav_selected" href="structure.html">组织结构</a>
</dd>
<dt class="qp-ui" data-qp-ui="{ 'SideNavZippy': false }">Components</dt>
<dd>
<a href="../components/bottom-sheets.html">Bottom Sheets</a>
<a href="../components/buttons.html">Buttons</a>
<a href="../components/cards.html">Cards</a>
<a href="../components/chips-tokens.html">Chips </a>
<a href="../components/dialogs.html">Dialogs</a>
<a href="../components/dividers.html">Dividers</a>
<a href="../components/grids.html">Grids</a>
<a href="../components/lists.html">Lists</a>
<a href="../components/list-controls.html">List controls</a>
<a href="../components/menus.html">Menus</a>
<a href="../components/progress-activity.html">Progress and Activity </a>
<a href="../components/sliders.html">Sliders</a>
<a href="../components/snackbars-and-toasts.html">Snackbars and Toasts</a>
<a href="../components/subheaders.html">Subheaders </a>
<a href="../components/switches.html">Switches</a>
<a href="../components/tabs.html">Tabs</a>
<a href="../components/text-fields.html">Text fields </a>
<a href="../components/tooltips.html">Tooltips</a>
</dd>
<dt class="qp-ui" data-qp-ui="{ 'SideNavZippy': false }">Patterns</dt>
<dd>
<a href="../patterns/selection.html">Selection</a>
<a href="../patterns/gestures.html">Gestures</a>
<a href="../patterns/promoted-actions.html">Promoted Actions </a>
<a href="../patterns/settings.html">Settings</a>
<a href="../patterns/imagery-treatment.html">Imagery Treatment </a>
<a href="../patterns/search.html">Search </a>
</dd>
<dt class="qp-ui" data-qp-ui="{ 'SideNavZippy': false }">Usability</dt>
<dd>
<a href="../usability/accessibility.html">Accessibility</a>
</dd>
<dt class="qp-ui" data-qp-ui="{ 'SideNavZippy': false }">Resources</dt>
<dd>
<a href="../resources/layout-templates.html">Layout Templates</a>
<a href="../resources/sticker-sheets.html">Sticker Sheets</a>
<a href="../resources/roboto-font.html">Roboto Font</a>
<a href="../resources/color-palettes.html">Color Palettes</a>
</dd>
</dl>
</nav>
<div class="legal">
<p class="copyright">Google &copy;</p>
<a href="http://www.google.com/intl/en/policies/privacy/index.html">Privacy</a> &amp; <a href="http://www.google.com/intl/en/policies/terms/index.html">Terms</a>
</div>
</div>
</div>
<div id="grid-cont">
<section class="grid_outer chapter">
<h1 class="chapter-title">Structure</h1>
<div class="chapter-content">
<nav class="chapter-toc">
<h1>Contents</h1>
<ul>
<li><a class="gweb-smoothscroll-control qp-ui" data-qp-ui="{ 'SmoothScroll': {} }" href="#structure-ui-regions-and-guidance">UI Regions and Guidance</a></li>
<li><a class="gweb-smoothscroll-control qp-ui" data-qp-ui="{ 'SmoothScroll': {} }" href="#structure-toolbars">Toolbars</a></li>
<li><a class="gweb-smoothscroll-control qp-ui" data-qp-ui="{ 'SmoothScroll': {} }" href="#structure-app-bar">App Bar</a></li>
<li><a class="gweb-smoothscroll-control qp-ui" data-qp-ui="{ 'SmoothScroll': {} }" href="#structure-side-nav-1">Side Nav</a></li>
<li><a class="gweb-smoothscroll-control qp-ui" data-qp-ui="{ 'SmoothScroll': {} }" href="#structure-whiteframes">Whiteframes</a></li>
</ul>
</nav>
<div class="article-list">
<div id="structure-ui-regions-and-guidance" class="article qp-ui" data-qp-ui="{ 'ScrollSpy': {} }">
<h2 class="article-title qp-ui" data-qp-ui="{ 'ResponsiveZippy': {} }">
UI Regions and Guidance
<svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="icon icon-expand-collapse" role="img" viewBox="0 0 10 10" aria-labelledby="title desc">
<title id="title">Expand and collapse content</title>
<desc id="desc">An arrow that points down when collapsed and points up when expanded.</desc>
<polygon role="presentation" points="2.5,4.167 5,6.667 7.5,4.167 6.917,3.583 5,5.5 3.083,3.583"/>
</svg>
</h2>
<div class="article-content">
<div class="article-intro">
<p>This section covers the high level structure of our apps ranging from mobile to desktop and contains a few points of guidance.</p>
<p>Apps come in many varieties that address very different needs. For example:</p>
<ul>
<li>Apps built around a single focused activity handled from a single screen
(such as a calculator, a camera, and many games)</li>
<li>Apps whose main purpose is to switch between different activities without deeper navigation
(such as a phone dialer offering favorites, recents, and contacts)</li>
<li>Apps that combine a broad set of data views with deep navigation
(such as different folders for a mail app or product categories in a shopping app)</li>
</ul>
<p>Your app's structure will depend largely on the content and tasks you want to surface for your users.</p>
</div>
<div class="module-list">
<div id="ui-regions-and-guidance-starting-from-the-top">
<section class="moduleB1">
<div class="module-body">
<strong>STARTING FROM THE TOP</strong>
<p>The layout of your start screen requires special attention. This is the first screen people see after launching your app, so it should be an equally rewarding experience for new and frequent visitors alike.</p>
<p>Ask yourself: "What will typical users most likely want to do in my app?", and structure your start screen experience accordingly.</p>
<p><strong>Put content forward</strong>. Many apps focus on the content display. Avoid navigation-only screens and instead let people get to the core experience of your app right away by making content the centerpiece of your start screen. Choose layouts that are visually engaging and appropriate for the data type and screen size.</p>
<p><strong>Anchor navigation and actions</strong>. Like any toolbar, the app bar can organize important actions. Its position at the top of a screen makes it ideal for presenting navigation controls, including switching between tabs or opening the left navigation bar. If you content is searchable, include the Search action in the app bar so people can cut through the navigation hierarchy.</p>
<p><strong>Be opinionated about functionality</strong>. When your app has a large amount of content or capabilities, direct the user’s focus to the most critical aspects of your product. Highlight navigation to important destinations within the content area. Promote the most characterful action as a floating action button. De-emphasize less frequently traveled paths in your app.</p>
</div>
</section>
</div>
<div id="ui-regions-and-guidance-top-level-view-strategies">
<section class="moduleB1">
<div class="module-body">
<strong>TOP-LEVEL VIEW STRATEGIES</strong>
<p>The top level communicates your app’s capabilities by introducing the user to the major functional areas. Some apps will be very focused and have modest navigation needs. In other apps, the top level will consist of multiple views, and you'll want to make sure that the user can navigate between them efficiently. </p>
<p>Select the approach that best matches your app's navigation needs.</p>
<p><strong>Focus on a single view with embedded navigation</strong>. By putting all necessary navigation directly inline with other app content, you make it extremely visible to the user. This can be appropriate when the app’s navigation model is very simple. However, presenting a large number of navigation paths in this manner can reduce the space available to display content, and these pathways could be distributed throughout the screen rather than co-located in a predictable and convenient location.</p>
<p>Use in-context navigation if:</p>
<ul>
<li>Your app has a strong primary view, and no or few alternate ones.</li>
<li>Your users can complete the most common tasks easily within the main view.</li>
<li>You expect users will use your app very infrequently and will appreciate well-exposed paths.</li>
</ul>
<p><strong>Use tabs to switch between a small number of equally important views</strong>. If your app has only a handful of functional areas, each with shallow hierarchies, using tabs increases the awareness of these peer top-level views. It also accelerates switching between them, bringing them into view with just a click or a swipe. However, displaying the tabs takes up significant space on smaller displays, and is efficient only for a small number of peers with succinct labels.</p>
<p>Use tabs if:</p>
<ul>
<li>You expect your app's users to switch views frequently.</li>
<li>You have a limited number of top-level views.</li>
<li>You want the user to be highly aware of the alternate views.</li>
</ul>
<p><strong>Manage more complex structure through a left navigation drawer</strong>. The left nav panel can display large numbers of navigation targets concurrently. It is particularly useful when your app has a single, natural “home”, and the drawer can then act as an index of less frequently visited destinations. If your app requires cross-navigation directly from a lower-level screen to other important sections of your app, the ability to swipe in the left nav panel from any point in your app can make that context switch more efficient for the user. However, because it is a less obvious affordance, it may take the user time to familiarize themselves with the contents.</p>
<p>Use a navigation drawer if:</p>
<ul>
<li>Your app has a large number of top-level views.</li>
<li>You want to enable quick cross-navigation between views which aren’t directly related.</li>
<li>You have particularly deep navigation branches and want to accelerate returning to the top of the app.</li>
<li>You want to reduce the visibility and user awareness of less frequently visited destinations. </li>
</ul>
<p>Regardless of the top-level view strategy you select, in-context navigation is always a powerful tactic for moving between related sets of data. Some examples are providing direct links between one song and other from that artist, between recent items and a complete history, or between one post from a user and their overall profile. These direct paths make it natural to extend from a main task into a related one.</p>
</div>
</section>
</div>
<div id="ui-regions-and-guidance-mobile">
<section class="moduleE1">
<h3>Mobile</h3>
<div class="module-body">
<p>This structure includes a permanent app bar and floating action button. An optional bottom bar can be added for additional functionality or action overflow. Side nav menus that users can access as needed overlay all other structural elements.</p>
</div>
<div class="figure-group">
<div class="figure-row">
<figure >
<div class="media">
<div >
<picture>
<source srcset="http://material-design.storage.googleapis.com/images/layout-structure-uiregions-uiregions-01_large_mdpi.png, http://material-design.storage.googleapis.com/images/layout-structure-uiregions-uiregions-01_large_xhdpi.png 2x, http://material-design.storage.googleapis.com/images/layout-structure-uiregions-uiregions-01_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/layout-structure-uiregions-uiregions-01_large_mdpi.png" alt="mobile">
</picture>
</div>
</div>
</figure>
</div>
</div>
</section>
</div>
<div id="ui-regions-and-guidance-tablet">
<section class="moduleE1">
<h3>Tablet</h3>
<div class="module-body">
<p>This structure shows a permanent app bar with floating action button. The app bar absorbs elements from tablet and mobile bottom bars. An optional bottom bar can be added for additional functionality or action overflow. A left navigation menu that users can can access as needed overlays all other structural elements. A right nav menu can be accessed temporarily or pinned for permanent display.</p>
</div>
<div class="figure-group">
<div class="figure-row">
<figure >
<div class="media">
<div >
<picture>
<source srcset="http://material-design.storage.googleapis.com/images/layout-structure-uiregions-uiregions-02_large_mdpi.png, http://material-design.storage.googleapis.com/images/layout-structure-uiregions-uiregions-02_large_xhdpi.png 2x, http://material-design.storage.googleapis.com/images/layout-structure-uiregions-uiregions-02_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/layout-structure-uiregions-uiregions-02_large_mdpi.png" alt="tablet">
</picture>
</div>
</div>
</figure>
</div>
</div>
</section>
</div>
<div id="ui-regions-and-guidance-desktop">
<section class="moduleE1">
<h3>Desktop</h3>
<div class="module-body">
<p>This structure contains a permanent app bar with floating action button. The app bar absorbs elements from tablet and mobile bottom bars. Where possible, the window controls are absorbed into the app bar. Side navigation menus can be accessed temporarily or pinned for permanent display. Side nav menus as well as the content canvas can have their own secondary toolbars for tabs, palettes, or secondary actions.</p>
</div>
<div class="figure-group">
<div class="figure-row">
<figure >
<div class="media">
<div >
<picture>
<source srcset="http://material-design.storage.googleapis.com/images/layout-structure-uiregions-uiregions-03_large_mdpi.png, http://material-design.storage.googleapis.com/images/layout-structure-uiregions-uiregions-03_large_xhdpi.png 2x, http://material-design.storage.googleapis.com/images/layout-structure-uiregions-uiregions-03_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/layout-structure-uiregions-uiregions-03_large_mdpi.png" alt="Desktop">
</picture>
</div>
</div>
</figure>
</div>
</div>
</section>
</div>
<div id="ui-regions-and-guidance-ui-guidance1">
<section class="moduleE1">
<h3>UI Guidance</h3>
<div class="module-body">
<p>Define a primary horizontal or vertical divider.</p>
</div>
<div class="figure-group">
<div class="figure-row">
<figure >
<div class="media">
<div >
<picture>
<source srcset="http://material-design.storage.googleapis.com/images/layout-structure-uiregions-uiregions-04_large_mdpi.png, http://material-design.storage.googleapis.com/images/layout-structure-uiregions-uiregions-04_large_xhdpi.png 2x, http://material-design.storage.googleapis.com/images/layout-structure-uiregions-uiregions-04_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/layout-structure-uiregions-uiregions-04_large_mdpi.png" alt="ui guidance">
</picture>
</div>
</div>
</figure>
</div>
</div>
</section>
</div>
<div id="ui-regions-and-guidance-ui-guidance2">
<section class="moduleE1">
<div class="module-body">
<p>Avoid slicing up the interface into too many regions which can cause L shapes. Instead, use whitespace to delineate secondary areas.</p>
</div>
<div class="figure-group">
<div class="figure-row">
<figure >
<div class="media">
<div >
<picture>
<source srcset="http://material-design.storage.googleapis.com/images/layout-structure-uiregions-uiregions-05_large_mdpi.png, http://material-design.storage.googleapis.com/images/layout-structure-uiregions-uiregions-05_large_xhdpi.png 2x, http://material-design.storage.googleapis.com/images/layout-structure-uiregions-uiregions-05_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/layout-structure-uiregions-uiregions-05_large_mdpi.png" alt="ui guidance">
</picture>
</div>
</div>
</figure>
</div>
</div>
</section>
</div>
<div id="ui-regions-and-guidance-ui-guidance3">
<section class="moduleE1">
<div class="module-body">
<p>Break edges with cards and floating action buttons.</p>
</div>
<div class="figure-group">
<div class="figure-row">
<figure >
<div class="media">
<div >
<picture>
<source srcset="http://material-design.storage.googleapis.com/images/layout-structure-uiregions-uiregions-06_large_mdpi.png, http://material-design.storage.googleapis.com/images/layout-structure-uiregions-uiregions-06_large_xhdpi.png 2x, http://material-design.storage.googleapis.com/images/layout-structure-uiregions-uiregions-06_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/layout-structure-uiregions-uiregions-06_large_mdpi.png" alt="ui guidance">
</picture>
</div>
</div>
</figure>
</div>
</div>
</section>
</div>
<div id="ui-regions-and-guidance-ui-guidance4">
<section class="moduleE1">
<div class="module-body">
<p>Use cards to organize content when specific behaviors are needed or if informational groupings require greater separation than whitespace or dividers can provide.</p>
</div>
<div class="figure-group">
<div class="figure-row">
<figure >
<div class="media">
<div >
<picture>
<source srcset="http://material-design.storage.googleapis.com/images/layout-structure-uiregions-uiregions-07_large_mdpi.png, http://material-design.storage.googleapis.com/images/layout-structure-uiregions-uiregions-07_large_xhdpi.png 2x, http://material-design.storage.googleapis.com/images/layout-structure-uiregions-uiregions-07_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/layout-structure-uiregions-uiregions-07_large_mdpi.png" alt="">
</picture>
</div>
</div>
</figure>
</div>
</div>
</section>
</div>
</div>
</div>
</div>
<div id="structure-toolbars" class="article qp-ui" data-qp-ui="{ 'ScrollSpy': {} }">
<h2 class="article-title qp-ui" data-qp-ui="{ 'ResponsiveZippy': {} }">
Toolbars
<svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="icon icon-expand-collapse" role="img" viewBox="0 0 10 10" aria-labelledby="title desc">
<title id="title">Expand and collapse content</title>
<desc id="desc">An arrow that points down when collapsed and points up when expanded.</desc>
<polygon role="presentation" points="2.5,4.167 5,6.667 7.5,4.167 6.917,3.583 5,5.5 3.083,3.583"/>
</svg>
</h2>
<div class="article-content">
<div class="module-list">
<div id="toolbars-toolbars1">
<section class="moduleE1">
<div class="module-body">
<p>Toolbars are versatile and can be applied to various places in an app. Here are some examples of where you can use toolbars.</p>
</div>
<div class="figure-group">
<div class="figure-row">
<figure >
<div class="media">
<div >
<picture>
<source srcset="http://material-design.storage.googleapis.com/images/layout-structure-toolbars-toolbars-01_large_mdpi.png, http://material-design.storage.googleapis.com/images/layout-structure-toolbars-toolbars-01_large_xhdpi.png 2x, http://material-design.storage.googleapis.com/images/layout-structure-toolbars-toolbars-01_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/layout-structure-toolbars-toolbars-01_large_mdpi.png" alt="">
</picture>
</div>
</div>
<figcaption>
Full-width, default height app bar
</figcaption>
</figure>
<figure >
<div class="media">
<div >
<picture>
<source srcset="http://material-design.storage.googleapis.com/images/layout-structure-toolbars-toolbars-02_large_mdpi.png, http://material-design.storage.googleapis.com/images/layout-structure-toolbars-toolbars-02_large_xhdpi.png 2x, http://material-design.storage.googleapis.com/images/layout-structure-toolbars-toolbars-02_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/layout-structure-toolbars-toolbars-02_large_mdpi.png" alt="">
</picture>
</div>
</div>
<figcaption>
Full-width, extended height app bar spanning multiple column widths
</figcaption>
</figure>
<figure >
<div class="media">
<div >
<picture>
<source srcset="http://material-design.storage.googleapis.com/images/layout-structure-toolbars-toolbars-03_large_mdpi.png, http://material-design.storage.googleapis.com/images/layout-structure-toolbars-toolbars-03_large_xhdpi.png 2x, http://material-design.storage.googleapis.com/images/layout-structure-toolbars-toolbars-03_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/layout-structure-toolbars-toolbars-03_large_mdpi.png" alt="">
</picture>
</div>
</div>
<figcaption>
Column-width toolbars at multiple levels of hierarchy
</figcaption>
</figure>
<figure >
<div class="media">
<div >
<picture>
<source srcset="http://material-design.storage.googleapis.com/images/layout-structure-toolbars-toolbars-04_large_mdpi.png, http://material-design.storage.googleapis.com/images/layout-structure-toolbars-toolbars-04_large_xhdpi.png 2x, http://material-design.storage.googleapis.com/images/layout-structure-toolbars-toolbars-04_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/layout-structure-toolbars-toolbars-04_large_mdpi.png" alt="">
</picture>
</div>
</div>
<figcaption>
Flexible toolbar and card toolbar
</figcaption>
</figure>
<figure >
<div class="media">
<div >
<picture>
<source srcset="http://material-design.storage.googleapis.com/images/layout-structure-toolbars-toolbars-05_large_mdpi.png, http://material-design.storage.googleapis.com/images/layout-structure-toolbars-toolbars-05_large_xhdpi.png 2x, http://material-design.storage.googleapis.com/images/layout-structure-toolbars-toolbars-05_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/layout-structure-toolbars-toolbars-05_large_mdpi.png" alt="">
</picture>
</div>
</div>
<figcaption>
Floating toolbar
</figcaption>
</figure>
<figure >
<div class="media">
<div >
<picture>
<source srcset="http://material-design.storage.googleapis.com/images/layout-structure-toolbars-toolbars-06_large_mdpi.png, http://material-design.storage.googleapis.com/images/layout-structure-toolbars-toolbars-06_large_xhdpi.png 2x, http://material-design.storage.googleapis.com/images/layout-structure-toolbars-toolbars-06_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/layout-structure-toolbars-toolbars-06_large_mdpi.png" alt="">
</picture>
</div>
</div>
<figcaption>
Detached toolbar palette
</figcaption>
</figure>
<figure >
<div class="media">
<div >
<picture>
<source srcset="http://material-design.storage.googleapis.com/images/layout-structure-toolbars-toolbars-07a_large_mdpi.png, http://material-design.storage.googleapis.com/images/layout-structure-toolbars-toolbars-07a_large_xhdpi.png 2x, http://material-design.storage.googleapis.com/images/layout-structure-toolbars-toolbars-07a_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/layout-structure-toolbars-toolbars-07a_large_mdpi.png" alt="">
</picture>
</div>
</div>
<figcaption>
<p>Bottom Toolbar that launches to a shelf and clings to top of keyboard or other bottom component</p>
</figcaption>
</figure>
<figure >
<div class="media">
<div >
<picture>
<source srcset="http://material-design.storage.googleapis.com/images/layout-structure-toolbars-toolbars-08a_large_mdpi.png, http://material-design.storage.googleapis.com/images/layout-structure-toolbars-toolbars-08a_large_xhdpi.png 2x, http://material-design.storage.googleapis.com/images/layout-structure-toolbars-toolbars-08a_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/layout-structure-toolbars-toolbars-08a_large_mdpi.png" alt="">
</picture>
</div>
</div>
<figcaption>
<p>Bottom Toolbar shelf</p>
</figcaption>
</figure>
</div>
</div>
</section>
</div>
</div>
</div>
</div>
<div id="structure-app-bar" class="article qp-ui" data-qp-ui="{ 'ScrollSpy': {} }">
<h2 class="article-title qp-ui" data-qp-ui="{ 'ResponsiveZippy': {} }">
App Bar
<svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="icon icon-expand-collapse" role="img" viewBox="0 0 10 10" aria-labelledby="title desc">
<title id="title">Expand and collapse content</title>
<desc id="desc">An arrow that points down when collapsed and points up when expanded.</desc>
<polygon role="presentation" points="2.5,4.167 5,6.667 7.5,4.167 6.917,3.583 5,5.5 3.083,3.583"/>
</svg>
</h2>
<div class="article-content">
<div class="module-list">
<div id="app-bar-app-bar-structure1">
<section class="moduleE1">
<h3>App Bar Structure</h3>
<div class="module-body">
<p>The app bar, formerly known as the action bar in Android, is used for branding, navigation, search, and actions.</p>
<p>If your app uses a nav drawer, the nav icon opens it and can morph into a back arrow for page navigation. The title can be an app title, page title or a page filter.</p>
<p>The right icons are app-related actions. The menu icon opens the overflow menu, which contains menu items like, help, settings, and feedback.</p>
</div>
<div class="figure-group">
<div class="figure-row">
<figure >
<div class="media">
<div >
<picture>
<source srcset="http://material-design.storage.googleapis.com/images/layout-structure-appbar-appbar-01_large_mdpi.png, http://material-design.storage.googleapis.com/images/layout-structure-appbar-appbar-01_large_xhdpi.png 2x, http://material-design.storage.googleapis.com/images/layout-structure-appbar-appbar-01_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/layout-structure-appbar-appbar-01_large_mdpi.png" alt="">
</picture>
</div>
</div>
</figure>
</div>
</div>
</section>
</div>
<div id="app-bar-app-bar-structure-2">
<section class="moduleD1">
<div class="module-body">
<p>&nbsp;</p>
</div>
<div class="figure-group">
<div class="figure-row">
<figure >
<div class="media">
<div >
<picture>
<source srcset="http://material-design.storage.googleapis.com/images/layout-structure-appbar-appbar-02_large_mdpi.png, http://material-design.storage.googleapis.com/images/layout-structure-appbar-appbar-02_large_xhdpi.png 2x, http://material-design.storage.googleapis.com/images/layout-structure-appbar-appbar-02_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/layout-structure-appbar-appbar-02_large_mdpi.png" alt="">
</picture>
</div>
</div>
<figcaption>
Light
</figcaption>
</figure>
<figure >
<div class="media">
<div >
<picture>
<source srcset="http://material-design.storage.googleapis.com/images/layout-structure-appbar-appbar-03_large_mdpi.png, http://material-design.storage.googleapis.com/images/layout-structure-appbar-appbar-03_large_xhdpi.png 2x, http://material-design.storage.googleapis.com/images/layout-structure-appbar-appbar-03_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/layout-structure-appbar-appbar-03_large_mdpi.png" alt="">
</picture>
</div>
</div>
<figcaption>
Dark
</figcaption>
</figure>
<figure >
<div class="media">
<div >
<picture>
<source srcset="http://material-design.storage.googleapis.com/images/layout-structure-appbar-appbar-04_large_mdpi.png, http://material-design.storage.googleapis.com/images/layout-structure-appbar-appbar-04_large_xhdpi.png 2x, http://material-design.storage.googleapis.com/images/layout-structure-appbar-appbar-04_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/layout-structure-appbar-appbar-04_large_mdpi.png" alt="">
</picture>
</div>
</div>
<figcaption>
Colored
</figcaption>
</figure>
<figure >
<div class="media">
<div >
<picture>
<source srcset="http://material-design.storage.googleapis.com/images/layout-structure-appbar-appbar-05_large_mdpi.png, http://material-design.storage.googleapis.com/images/layout-structure-appbar-appbar-05_large_xhdpi.png 2x, http://material-design.storage.googleapis.com/images/layout-structure-appbar-appbar-05_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/layout-structure-appbar-appbar-05_large_mdpi.png" alt="">
</picture>
</div>
</div>
<figcaption>
Transparent
</figcaption>
</figure>
</div>
</div>
</section>
</div>
<div id="app-bar-metrics-1">
<section class="moduleD1">
<h3>Metrics</h3>
<div class="module-body">
<p><strong>Default height</strong>:</p>
<p>Mobile Landscape: 48dp</p>
<p>Mobile Portrait: 56dp</p>
<p>Tablet/Desktop: 64dp</p>
<p>For extended app bars, the height is equal to the default height plus content increment(s).</p>
</div>
<div class="figure-group">
<div class="figure-row">
<figure >
<div class="media">
<div >
<picture>
<source srcset="http://material-design.storage.googleapis.com/images/layout-structure-appbar-appbar-06_large_mdpi.png, http://material-design.storage.googleapis.com/images/layout-structure-appbar-appbar-06_large_xhdpi.png 2x, http://material-design.storage.googleapis.com/images/layout-structure-appbar-appbar-06_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/layout-structure-appbar-appbar-06_large_mdpi.png" alt="">
</picture>
</div>
</div>
</figure>
<figure >
<div class="media">
<div >
<picture>
<source srcset="http://material-design.storage.googleapis.com/images/layout-structure-appbar-appbar-07_large_mdpi.png, http://material-design.storage.googleapis.com/images/layout-structure-appbar-appbar-07_large_xhdpi.png 2x, http://material-design.storage.googleapis.com/images/layout-structure-appbar-appbar-07_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/layout-structure-appbar-appbar-07_large_mdpi.png" alt="">
</picture>
</div>
</div>
</figure>
<figure >
<div class="media">
<div >
<picture>
<source srcset="http://material-design.storage.googleapis.com/images/layout-structure-appbar-appbar-08_large_mdpi.png, http://material-design.storage.googleapis.com/images/layout-structure-appbar-appbar-08_large_xhdpi.png 2x, http://material-design.storage.googleapis.com/images/layout-structure-appbar-appbar-08_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/layout-structure-appbar-appbar-08_large_mdpi.png" alt="">
</picture>
</div>
</div>
</figure>
<figure >
<div class="media">
<div >
<picture>
<source srcset="http://material-design.storage.googleapis.com/images/layout-structure-appbar-appbar-09_large_mdpi.png, http://material-design.storage.googleapis.com/images/layout-structure-appbar-appbar-09_large_xhdpi.png 2x, http://material-design.storage.googleapis.com/images/layout-structure-appbar-appbar-09_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/layout-structure-appbar-appbar-09_large_mdpi.png" alt="">
</picture>
</div>
</div>
</figure>
<figure >
<div class="media">
<div >
<picture>
<source srcset="http://material-design.storage.googleapis.com/images/layout-structure-appbar-appbar-10_large_mdpi.png, http://material-design.storage.googleapis.com/images/layout-structure-appbar-appbar-10_large_xhdpi.png 2x, http://material-design.storage.googleapis.com/images/layout-structure-appbar-appbar-10_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/layout-structure-appbar-appbar-10_large_mdpi.png" alt="">
</picture>
</div>
</div>
</figure>
<figure >
<div class="media">
<div >
<picture>
<source srcset="http://material-design.storage.googleapis.com/images/layout-structure-appbar-appbar-11_large_mdpi.png, http://material-design.storage.googleapis.com/images/layout-structure-appbar-appbar-11_large_xhdpi.png 2x, http://material-design.storage.googleapis.com/images/layout-structure-appbar-appbar-11_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/layout-structure-appbar-appbar-11_large_mdpi.png" alt="">
</picture>
</div>
</div>
</figure>
</div>
</div>
</section>
</div>
<div id="app-bar-metrics-4">
<section class="moduleE1">
<div class="module-body">
<p>&nbsp;</p>
</div>
<div class="figure-group">
<div class="figure-row">
<figure >
<div class="media">
<div >
<picture>
<source srcset="http://material-design.storage.googleapis.com/images/layout-structure-appbar-appbar-12_large_mdpi.png, http://material-design.storage.googleapis.com/images/layout-structure-appbar-appbar-12_large_xhdpi.png 2x, http://material-design.storage.googleapis.com/images/layout-structure-appbar-appbar-12_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/layout-structure-appbar-appbar-12_large_mdpi.png" alt="">
</picture>
</div>
</div>
</figure>
<figure >
<div class="media">
<div >
<picture>
<source srcset="http://material-design.storage.googleapis.com/images/layout-structure-appbar-appbar-13_large_mdpi.png, http://material-design.storage.googleapis.com/images/layout-structure-appbar-appbar-13_large_xhdpi.png 2x, http://material-design.storage.googleapis.com/images/layout-structure-appbar-appbar-13_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/layout-structure-appbar-appbar-13_large_mdpi.png" alt="">
</picture>
</div>
</div>
</figure>
<figure >
<div class="media">
<div >
<picture>
<source srcset="http://material-design.storage.googleapis.com/images/layout-structure-appbar-appbar-14_large_mdpi.png, http://material-design.storage.googleapis.com/images/layout-structure-appbar-appbar-14_large_xhdpi.png 2x, http://material-design.storage.googleapis.com/images/layout-structure-appbar-appbar-14_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/layout-structure-appbar-appbar-14_large_mdpi.png" alt="">
</picture>
</div>
</div>
</figure>
</div>
</div>
</section>
</div>
<div id="app-bar-menus-1">
<section class="moduleD1">
<h3>Menus</h3>
<div class="module-body">
<p>A menu is a temporary sheet of paper that always overlaps the app bar, rather than behaving as an extension of the app bar.</p>
</div>
<div class="figure-group">
<div class="figure-row">
<figure >
<div class="media">
<div >
<picture>
<source srcset="http://material-design.storage.googleapis.com/images/layout-structure-appbar-appbar-15_large_mdpi.png, http://material-design.storage.googleapis.com/images/layout-structure-appbar-appbar-15_large_xhdpi.png 2x, http://material-design.storage.googleapis.com/images/layout-structure-appbar-appbar-15_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/layout-structure-appbar-appbar-15_large_mdpi.png" alt="">
</picture>
</div>
</div>
</figure>
<figure >
<div class="media">
<div >
<picture>
<source srcset="http://material-design.storage.googleapis.com/images/layout-structure-appbar-appbar-16_large_mdpi.png, http://material-design.storage.googleapis.com/images/layout-structure-appbar-appbar-16_large_xhdpi.png 2x, http://material-design.storage.googleapis.com/images/layout-structure-appbar-appbar-16_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/layout-structure-appbar-appbar-16_large_mdpi.png" alt="">
</picture>
</div>
</div>
</figure>
<figure >
<div class="media">
<div >
<picture>
<source srcset="http://material-design.storage.googleapis.com/images/layout-structure-appbar-appbar-17_large_mdpi.png, http://material-design.storage.googleapis.com/images/layout-structure-appbar-appbar-17_large_xhdpi.png 2x, http://material-design.storage.googleapis.com/images/layout-structure-appbar-appbar-17_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/layout-structure-appbar-appbar-17_large_mdpi.png" alt="">
</picture>
</div>
</div>
</figure>
<figure >
<div class="media">
<div >
<picture>
<source srcset="http://material-design.storage.googleapis.com/images/layout-structure-appbar-appbar-18_large_mdpi.png, http://material-design.storage.googleapis.com/images/layout-structure-appbar-appbar-18_large_xhdpi.png 2x, http://material-design.storage.googleapis.com/images/layout-structure-appbar-appbar-18_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/layout-structure-appbar-appbar-18_large_mdpi.png" alt="">
</picture>
</div>
</div>
</figure>
</div>
</div>
</section>
</div>
<div id="app-bar-menus-3">
<section class="moduleE1">
<div class="module-body">
<p>&nbsp;</p>
</div>
<div class="figure-group">
<div class="figure-row">
<figure >
<div class="media">
<div >
<picture>
<source srcset="http://material-design.storage.googleapis.com/images/layout-structure-appbar-appbar-19_large_mdpi.png, http://material-design.storage.googleapis.com/images/layout-structure-appbar-appbar-19_large_xhdpi.png 2x, http://material-design.storage.googleapis.com/images/layout-structure-appbar-appbar-19_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/layout-structure-appbar-appbar-19_large_mdpi.png" alt="">
</picture>
</div>
</div>
</figure>
</div>
</div>
</section>
</div>
</div>
</div>
</div>
<div id="structure-side-nav-1" class="article qp-ui" data-qp-ui="{ 'ScrollSpy': {} }">
<h2 class="article-title qp-ui" data-qp-ui="{ 'ResponsiveZippy': {} }">
Side Nav
<svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="icon icon-expand-collapse" role="img" viewBox="0 0 10 10" aria-labelledby="title desc">
<title id="title">Expand and collapse content</title>
<desc id="desc">An arrow that points down when collapsed and points up when expanded.</desc>
<polygon role="presentation" points="2.5,4.167 5,6.667 7.5,4.167 6.917,3.583 5,5.5 3.083,3.583"/>
</svg>
</h2>
<div class="article-content">
<div class="module-list">
<div id="side-nav-1-side-nav">
<section class="moduleD1">
<div class="module-body">
<p>If present, the left and right nav drawers can be pinned for permanent display or they can float temporarily as overlays. The content in the left nav should primarily be navigation- or identity-based. The content in the right nav should primarily be a deeper level of info secondary to the main content on a page.</p>
</div>
<div class="figure-group">
<div class="figure-row">
<figure >
<div class="media">
<div >
<picture>
<source srcset="http://material-design.storage.googleapis.com/images/layout-structure-sidenav-sidenav-01_large_mdpi.png, http://material-design.storage.googleapis.com/images/layout-structure-sidenav-sidenav-01_large_xhdpi.png 2x, http://material-design.storage.googleapis.com/images/layout-structure-sidenav-sidenav-01_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/layout-structure-sidenav-sidenav-01_large_mdpi.png" alt="">
</picture>
</div>
</div>
</figure>
<figure >
<div class="media">
<div >
<picture>
<source srcset="http://material-design.storage.googleapis.com/images/layout-structure-sidenav-sidenav-02_large_mdpi.png, http://material-design.storage.googleapis.com/images/layout-structure-sidenav-sidenav-02_large_xhdpi.png 2x, http://material-design.storage.googleapis.com/images/layout-structure-sidenav-sidenav-02_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/layout-structure-sidenav-sidenav-02_large_mdpi.png" alt="">
</picture>
</div>
</div>
</figure>
</div>
</div>
</section>
</div>
<div id="side-nav-1-structure-1">
<section class="moduleD1">
<h3>Structure</h3>
<div class="module-body">
<p>Nav drawers that are temporary overlay the content canvas. Nav drawers that are pinned sit alongside or below the content canvas.</p>
<p><strong>Metrics:</strong></p>
<p>Mobile: side nav width = screen width - app bar height</p>
<p> Examples:</p>
<p> Nexus 4: 304 dp</p>
<p>Nexus 5: 288 dp</p>
<p>iPhone: 264 dp</p>
<p>Desktop: Max width for left nav is 400 dp. Right nav can vary depending on content.</p>
<p>Desktop/tablet: Pinned, width should align to columns.</p>
<p>Floating max width: 304 dp</p>
</div>
<div class="figure-group">
<div class="figure-row">
<figure >
<div class="media">
<div >
<picture>
<source srcset="http://material-design.storage.googleapis.com/images/layout-structure-sidenav-sidenav-03_large_mdpi.png, http://material-design.storage.googleapis.com/images/layout-structure-sidenav-sidenav-03_large_xhdpi.png 2x, http://material-design.storage.googleapis.com/images/layout-structure-sidenav-sidenav-03_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/layout-structure-sidenav-sidenav-03_large_mdpi.png" alt="">
</picture>
</div>
</div>
<figcaption>
Mobile
</figcaption>
</figure>
<figure >
<div class="media">
<div >
<picture>
<source srcset="http://material-design.storage.googleapis.com/images/layout-structure-sidenav-sidenav-04_large_mdpi.png, http://material-design.storage.googleapis.com/images/layout-structure-sidenav-sidenav-04_large_xhdpi.png 2x, http://material-design.storage.googleapis.com/images/layout-structure-sidenav-sidenav-04_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/layout-structure-sidenav-sidenav-04_large_mdpi.png" alt="">
</picture>
</div>
</div>
</figure>
</div>
</div>
</section>
</div>
<div id="side-nav-1-structure-2">
<section class="moduleE1">
<div class="module-body">
<p>&nbsp;</p>
</div>
<div class="figure-group">
<div class="figure-row">
<figure >
<div class="media">
<div >
<picture>
<source srcset="http://material-design.storage.googleapis.com/images/layout-structure-drive_chrome-04_large_mdpi.png, http://material-design.storage.googleapis.com/images/layout-structure-drive_chrome-04_large_xhdpi.png 2x, http://material-design.storage.googleapis.com/images/layout-structure-drive_chrome-04_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/layout-structure-drive_chrome-04_large_mdpi.png" alt="">
</picture>
</div>
</div>
<figcaption>
Desktop left nav drawer
</figcaption>
</figure>
<figure >
<div class="media">
<div >
<picture>
<source srcset="http://material-design.storage.googleapis.com/images/layout-structure-drive_chrome-02_large_mdpi.png, http://material-design.storage.googleapis.com/images/layout-structure-drive_chrome-02_large_xhdpi.png 2x, http://material-design.storage.googleapis.com/images/layout-structure-drive_chrome-02_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/layout-structure-drive_chrome-02_large_mdpi.png" alt="">
</picture>
</div>
</div>
<figcaption>
Desktop right nav drawer
</figcaption>
</figure>
</div>
</div>
</section>
</div>
</div>
</div>
</div>
<div id="structure-whiteframes" class="article qp-ui" data-qp-ui="{ 'ScrollSpy': {} }">
<h2 class="article-title qp-ui" data-qp-ui="{ 'ResponsiveZippy': {} }">
Whiteframes
<svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="icon icon-expand-collapse" role="img" viewBox="0 0 10 10" aria-labelledby="title desc">
<title id="title">Expand and collapse content</title>
<desc id="desc">An arrow that points down when collapsed and points up when expanded.</desc>
<polygon role="presentation" points="2.5,4.167 5,6.667 7.5,4.167 6.917,3.583 5,5.5 3.083,3.583"/>
</svg>
</h2>
<div class="article-content">
<div class="module-list">
<div id="whiteframes-whiteframes">
<section class="moduleD1">
<div class="module-body">
<p>Whiteframes provide a variety of layout structures using a consistent approach to surfaces, layering, and shadows.</p>
<div class="modulettes">
<a download class="modulette download" href="http://material-design.storage.googleapis.com/downloads/Whiteframes.ai" title="Whiteframes">
<img class="icon download-icon" src="http://material-design.storage.googleapis.com/images/download.svg" alt="">
<div class="info">
<div class="title">Whiteframes</div>
<span class="subtitle">15 MB (.ai)</span>
</div>
</a>
</div>
</div>
<div class="figure-group">
<div class="figure-row">
<figure >
<div class="media">
<div >
<picture>
<source srcset="http://material-design.storage.googleapis.com/images/layout-structure-whiteframe_bigtop_large_mdpi.png, http://material-design.storage.googleapis.com/images/layout-structure-whiteframe_bigtop_large_xhdpi.png 2x, http://material-design.storage.googleapis.com/images/layout-structure-whiteframe_bigtop_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/layout-structure-whiteframe_bigtop_large_mdpi.png" alt="">
</picture>
</div>
</div>
<figcaption>
Carded content that expands and collapses
</figcaption>
</figure>
<figure >
<div class="media">
<div >
<picture>
<source srcset="http://material-design.storage.googleapis.com/images/layout-structure-whiteframe_calendar_large_mdpi.png, http://material-design.storage.googleapis.com/images/layout-structure-whiteframe_calendar_large_xhdpi.png 2x, http://material-design.storage.googleapis.com/images/layout-structure-whiteframe_calendar_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/layout-structure-whiteframe_calendar_large_mdpi.png" alt="">
</picture>
</div>
</div>
<figcaption>
Overlaid content details and focused app bar on mobile
</figcaption>
</figure>
<figure >
<div class="media">
<div >
<picture>
<source srcset="http://material-design.storage.googleapis.com/images/layout-structure-whiteframe_contacts_large_mdpi.png, http://material-design.storage.googleapis.com/images/layout-structure-whiteframe_contacts_large_xhdpi.png 2x, http://material-design.storage.googleapis.com/images/layout-structure-whiteframe_contacts_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/layout-structure-whiteframe_contacts_large_mdpi.png" alt="">
</picture>
</div>
</div>
<figcaption>
Overlapping content card with multiple toolbars and background image on mobile
</figcaption>
</figure>
<figure >
<div class="media">
<div >
<picture>
<source srcset="http://material-design.storage.googleapis.com/images/layout-structure-whiteframe_drive_large_mdpi.png, http://material-design.storage.googleapis.com/images/layout-structure-whiteframe_drive_large_xhdpi.png 2x, http://material-design.storage.googleapis.com/images/layout-structure-whiteframe_drive_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/layout-structure-whiteframe_drive_large_mdpi.png" alt="">
</picture>
</div>
</div>
<figcaption>
Extended app bar and right nav drawer<br/>&nbsp;
</figcaption>
</figure>
<figure >
<div class="media">
<div >
<picture>
<source srcset="http://material-design.storage.googleapis.com/images/layout-structure-whiteframe_gallery_large_mdpi.png, http://material-design.storage.googleapis.com/images/layout-structure-whiteframe_gallery_large_xhdpi.png 2x, http://material-design.storage.googleapis.com/images/layout-structure-whiteframe_gallery_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/layout-structure-whiteframe_gallery_large_mdpi.png" alt="">
</picture>
</div>
</div>
<figcaption>
Left nav drawer and 1-up stream on mobile
</figcaption>
</figure>
<figure >
<div class="media">
<div >
<picture>
<source srcset="http://material-design.storage.googleapis.com/images/layout-structure-whiteframe_mail_large_mdpi.png, http://material-design.storage.googleapis.com/images/layout-structure-whiteframe_mail_large_xhdpi.png 2x, http://material-design.storage.googleapis.com/images/layout-structure-whiteframe_mail_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/layout-structure-whiteframe_mail_large_mdpi.png" alt="">
</picture>
</div>
</div>
<figcaption>
Source list
</figcaption>
</figure>
<figure >
<div class="media">
<div >
<picture>
<source srcset="http://material-design.storage.googleapis.com/images/layout-structure-whiteframe_maps_large_mdpi.png, http://material-design.storage.googleapis.com/images/layout-structure-whiteframe_maps_large_xhdpi.png 2x, http://material-design.storage.googleapis.com/images/layout-structure-whiteframe_maps_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/layout-structure-whiteframe_maps_large_mdpi.png" alt="">
</picture>
</div>
</div>
<figcaption>
Fullscreen background image with inset search field and carded search results
</figcaption>
</figure>
<figure >
<div class="media">
<div >
<picture>
<source srcset="http://material-design.storage.googleapis.com/images/layout-structure-whiteframe_music_large_mdpi.png, http://material-design.storage.googleapis.com/images/layout-structure-whiteframe_music_large_xhdpi.png 2x, http://material-design.storage.googleapis.com/images/layout-structure-whiteframe_music_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/layout-structure-whiteframe_music_large_mdpi.png" alt="">
</picture>
</div>
</div>
<figcaption>
Expandable footer drawer
</figcaption>
</figure>
</div>
</div>
</section>
</div>
</div>
</div>
</div>
</div>
</div>
</section>
</div>
<footer>
<div class="footer-grid">
<div class="footer-L section-layout">&nbsp;</div>
<div class="footer-grid-L section-layout">
<a class="footer-text" href="metrics-and-keylines.html">
<img class="arrow-L" alt="" src="http://material-design.storage.googleapis.com/images/Arrow-left_24x24px.svg"/>
<span>Previous:</span>
<div>
Metrics and Keylines
</div>
</a>
</div>
<div class="footer-R section-components">&nbsp;</div>
<div class="footer-grid-R section-components">
<a class="footer-text" href="../components/bottom-sheets.html">
<img class="arrow-R" alt="" src="http://material-design.storage.googleapis.com/images/Arrow-right_24x24px.svg"/>
<span>Next:</span>
<div>
Components
</div>
</a>
</div>
</div>
</footer>
<script src="http://www.gstatic.com/external_hosted/picturefill/picturefill.min.js"></script>
<script src="http://www.google.com/design/spec/js/main.js"></script>
</body>
</html>
