<!DOCTYPE html>
<html class="qp-ui" data-qp-ui="{
'Futurizr': {
'hasTouch': 'touch'
}
}">
<head>
<link href="../css/style.css" rel="stylesheet" />
<link href='https://fonts.googleapis.com/css?family=RobotoDraft:400,500,700,400italic' rel='stylesheet' type='text/css'>
<meta charset="utf-8">
<meta name="viewport" content="initial-scale=1, width=device-width"/>
<!--<PageMap><DataObject type="document"><Attribute name="uid">140278689924704</Attribute><Attribute name="title">Bottom Sheets</Attribute><Attribute name="keywords"></Attribute><Attribute name="slug">bottom-sheets</Attribute><Attribute name="description">tbd</Attribute><Attribute name="section_title">Components</Attribute><Attribute name="section_slug">components</Attribute></DataObject><DataObject type="thumbnail"><Attribute name="src" value="None" /></DataObject></PageMap>-->
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-51798601-1', 'google.com');
ga('send', 'pageview');
</script>
<title>Bottom Sheets - Components - Google design guidelines</title>
</head>
<body class=" section-components first-chapter qp-ui" data-qp-ui="{ 'Mask': {} }">
<header class="qp-ui" data-qp-ui="{
'Peekaboo': {
'mobile': -72,
'desktop-sm': -72,
'default': -192
}
}">
<div class="header-wrapper qp-ui" data-qp-ui="{
'Peekaboo': {
'mobile': 28,
'desktop-sm': 28,
'default': 18
}
}">
<div class="header-title">
<span class="section-title">Components</span>
<span class="chapter-title">Bottom Sheets</span>
</div>
</div>
</header>
<nav>
<button class="hamburger-button qp-ui" data-qp-ui="{ 'SideNavToggle': {} }" role="tab">Show navigation</button>
</nav>
<div class="preview-bar">
<div class="preview-wrapper">
<span>这份文档是一个预览。</span>
</div>
</div>
<div id="side-nav" class="qp-ui" data-qp-ui="{ 'SideNavDrawer': {} }">
<div class="side-nav-wrapper">
<span id="logo"><img src="http://material-design.storage.googleapis.com/images/Google_Logo.svg" alt="Google logo"/></span>
<nav>
<dl>
<dt class="qp-ui" data-qp-ui="{ 'SideNavZippy': false }">Material Design</dt>
<dd>
<a href="../material-design/introduction.html">Introduction</a>
</dd>
<dt class="qp-ui" data-qp-ui="{ 'SideNavZippy': false }">Animation</dt>
<dd>
<a href="../animation/authentic-motion.html">Authentic Motion</a>
<a href="../animation/responsive-interaction.html">Responsive Interaction</a>
<a href="../animation/meaningful-transitions.html">Meaningful Transitions</a>
<a href="../animation/delightful-details.html">Delightful Details</a>
</dd>
<dt class="qp-ui" data-qp-ui="{ 'SideNavZippy': false }">Style</dt>
<dd>
<a href="../style/color.html">Color</a>
<a href="../style/typography.html">Typography</a>
<a href="../style/icons.html">Icons</a>
<a href="../style/imagery.html">Imagery</a>
</dd>
<dt class="qp-ui" data-qp-ui="{ 'SideNavZippy': false }">Layout</dt>
<dd>
<a href="../layout/layout-principles.html">Principles</a>
<a href="../layout/metrics-and-keylines.html">Metrics and Keylines </a>
<a href="../layout/structure.html">Structure</a>
</dd>
<dt class="qp-ui" data-qp-ui="{ 'SideNavZippy': true }">Components</dt>
<dd>
<a class="nav_selected" href="bottom-sheets.html">Bottom Sheets</a>
<a href="buttons.html">Buttons</a>
<a href="cards.html">Cards</a>
<a href="chips-tokens.html">Chips </a>
<a href="dialogs.html">Dialogs</a>
<a href="dividers.html">Dividers</a>
<a href="grids.html">Grids</a>
<a href="lists.html">Lists</a>
<a href="list-controls.html">List controls</a>
<a href="menus.html">Menus</a>
<a href="progress-activity.html">Progress and Activity </a>
<a href="sliders.html">Sliders</a>
<a href="snackbars-and-toasts.html">Snackbars and Toasts</a>
<a href="subheaders.html">Subheaders </a>
<a href="switches.html">Switches</a>
<a href="tabs.html">Tabs</a>
<a href="text-fields.html">Text fields </a>
<a href="tooltips.html">Tooltips</a>
</dd>
<dt class="qp-ui" data-qp-ui="{ 'SideNavZippy': false }">Patterns</dt>
<dd>
<a href="../patterns/selection.html">Selection</a>
<a href="../patterns/gestures.html">Gestures</a>
<a href="../patterns/promoted-actions.html">Promoted Actions </a>
<a href="../patterns/settings.html">Settings</a>
<a href="../patterns/imagery-treatment.html">Imagery Treatment </a>
<a href="../patterns/search.html">Search </a>
</dd>
<dt class="qp-ui" data-qp-ui="{ 'SideNavZippy': false }">Usability</dt>
<dd>
<a href="../usability/accessibility.html">Accessibility</a>
</dd>
<dt class="qp-ui" data-qp-ui="{ 'SideNavZippy': false }">Resources</dt>
<dd>
<a href="../resources/layout-templates.html">Layout Templates</a>
<a href="../resources/sticker-sheets.html">Sticker Sheets</a>
<a href="../resources/roboto-font.html">Roboto Font</a>
<a href="../resources/color-palettes.html">Color Palettes</a>
</dd>
</dl>
</nav>
<div class="legal">
<p class="copyright">Google &copy;</p>
<a href="http://www.google.com/intl/en/policies/privacy/index.html">Privacy</a> &amp; <a href="http://www.google.com/intl/en/policies/terms/index.html">Terms</a>
</div>
</div>
</div>
<div id="grid-cont">
<section class="grid_outer chapter">
<h1 class="chapter-title">Bottom Sheets</h1>
<div class="chapter-content">
<div class="chapter-intro">
一种将一组操作呈现给用户的方法是使用 Bottom sheets ，一个从屏幕底部边缘向上滑动的页面。 Bottom sheets 提供了对无需解释的简明操作的显示灵活性。
One way to present a set of actions to a user is with bottom sheets, a sheet of paper that slides up from the bottom edge of the screen. 
Bottom sheets offer flexibility in the display of clear and simple actions that do not need explanation.
</div>
<nav class="chapter-toc">
<h1>Contents</h1>
<ul>
<li><a class="gweb-smoothscroll-control qp-ui" data-qp-ui="{ 'SmoothScroll': {} }" href="#bottom-sheets-usage">Usage </a></li>
<li><a class="gweb-smoothscroll-control qp-ui" data-qp-ui="{ 'SmoothScroll': {} }" href="#bottom-sheets-content">Content </a></li>
<li><a class="gweb-smoothscroll-control qp-ui" data-qp-ui="{ 'SmoothScroll': {} }" href="#bottom-sheets-behavior">Behavior</a></li>
<li><a class="gweb-smoothscroll-control qp-ui" data-qp-ui="{ 'SmoothScroll': {} }" href="#bottom-sheets-specs">Specs</a></li>
</ul>
</nav>
<div class="article-list">
<div id="bottom-sheets-usage" class="article qp-ui" data-qp-ui="{ 'ScrollSpy': {} }">
<h2 class="article-title qp-ui" data-qp-ui="{ 'ResponsiveZippy': {} }">
使用场景
<svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="icon icon-expand-collapse" role="img" viewBox="0 0 10 10" aria-labelledby="title desc">
<title id="title">Expand and collapse content</title>
<desc id="desc">An arrow that points down when collapsed and points up when expanded.</desc>
<polygon role="presentation" points="2.5,4.167 5,6.667 7.5,4.167 6.917,3.583 5,5.5 3.083,3.583"/>
</svg>
</h2>
<div class="article-content">
<div class="module-list">
<div id="usage-usage">
<section class="moduleB1">
<div class="module-body">
<p>Bottom sheets 特别适合于给用户展示三个或更多个无需描述性解释的操作。如果只有两个甚至更少的操作或需要详尽描述，可以考虑使用菜单或对话框来代替。
Bottom sheets are especially suitable when three or more actions are displayed to the user and when the actions do not require descriptive explanation. 
If there are two or fewer actions or detailed description is required, consider using a menu or dialog instead.</p>
<p>Bottom sheets 可以是列表形式或网格式。网格布局会增加视觉歧义。
Bottom sheets can be list-style or grid-style. Grid layouts increase visual disambiguation.</p>
<p>你可以使用 bottom sheets 来展示与其他应用关联的操作或允许跳转其他应用程序的入口（通过应用程序图标）。
You can use bottom sheets to show actions related to other apps or to allow entry points to other apps (via the app icon).</p>
</div>
</section>
</div>
</div>
</div>
</div>
<div id="bottom-sheets-content" class="article qp-ui" data-qp-ui="{ 'ScrollSpy': {} }">
<h2 class="article-title qp-ui" data-qp-ui="{ 'ResponsiveZippy': {} }">
Content
<svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="icon icon-expand-collapse" role="img" viewBox="0 0 10 10" aria-labelledby="title desc">
<title id="title">Expand and collapse content</title>
<desc id="desc">An arrow that points down when collapsed and points up when expanded.</desc>
<polygon role="presentation" points="2.5,4.167 5,6.667 7.5,4.167 6.917,3.583 5,5.5 3.083,3.583"/>
</svg>
</h2>
<div class="article-content">
<div class="article-intro">
In a standard list-style bottom sheet, each action should have a text description and a left-aligned icon. When necessary, you can use separators to logically group actions. You can also use subheaders or titles to give context to the choices.
</div>
<div class="module-list">
<div id="content-content-2">
<section class="moduleD1">
<div class="module-body">
<p>
A scrollable grid-style bottom sheet can be used for a bottom sheet that contains icons for standard share actions.</p>
</div>
<div class="figure-group">
<div class="figure-row">
<figure >
<div class="media">
<div >
<picture>
<source srcset="http://material-design.storage.googleapis.com/images/components-bottomsheet-for-mobile-1a_large_mdpi.png, //material-design.storage.googleapis.com/images/components-bottomsheet-for-mobile-1a_large_xhdpi.png 2x, //material-design.storage.googleapis.com/images/components-bottomsheet-for-mobile-1a_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/components-bottomsheet-for-mobile-1a_large_mdpi.png" alt="">
</picture>
</div>
</div>
</figure>
<figure >
<div class="media">
<div >
<picture>
<source srcset="http://material-design.storage.googleapis.com/images/components-bottomsheet-for-mobile-1b_large_mdpi.png, //material-design.storage.googleapis.com/images/components-bottomsheet-for-mobile-1b_large_xhdpi.png 2x, //material-design.storage.googleapis.com/images/components-bottomsheet-for-mobile-1b_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/components-bottomsheet-for-mobile-1b_large_mdpi.png" alt="">
</picture>
</div>
</div>
</figure>
</div>
</div>
</section>
</div>
</div>
</div>
</div>
<div id="bottom-sheets-behavior" class="article qp-ui" data-qp-ui="{ 'ScrollSpy': {} }">
<h2 class="article-title qp-ui" data-qp-ui="{ 'ResponsiveZippy': {} }">
Behavior
<svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="icon icon-expand-collapse" role="img" viewBox="0 0 10 10" aria-labelledby="title desc">
<title id="title">Expand and collapse content</title>
<desc id="desc">An arrow that points down when collapsed and points up when expanded.</desc>
<polygon role="presentation" points="2.5,4.167 5,6.667 7.5,4.167 6.917,3.583 5,5.5 3.083,3.583"/>
</svg>
</h2>
<div class="article-content">
<div class="article-intro">
When displaying a bottom sheet, it should animate upwards from the bottom edge of the screen. The previous content dims to give the user context of where they were previously and the modal nature of the choice. Tapping on the dimmed area dismisses the sheet, as does swiping down on the sheet.
If the sheet contains more actions that can fit in the initial display, the sheet is scrollable. Scrolling should also pull up the sheet container and eventually cover the entire screen.
When the action sheet covers the entire screen, add a dismiss button to the header, on the left hand side of the title.
</div>
<div class="module-list">
</div>
</div>
</div>
<div id="bottom-sheets-specs" class="article qp-ui" data-qp-ui="{ 'ScrollSpy': {} }">
<h2 class="article-title qp-ui" data-qp-ui="{ 'ResponsiveZippy': {} }">
Specs
<svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="icon icon-expand-collapse" role="img" viewBox="0 0 10 10" aria-labelledby="title desc">
<title id="title">Expand and collapse content</title>
<desc id="desc">An arrow that points down when collapsed and points up when expanded.</desc>
<polygon role="presentation" points="2.5,4.167 5,6.667 7.5,4.167 6.917,3.583 5,5.5 3.083,3.583"/>
</svg>
</h2>
<div class="article-content">
<div class="module-list">
<div id="specs-specs-1">
<section class="moduleD1">
<div class="module-body">
The following font and color specs and redlines are provided for mobile apps.
</div>
<div class="figure-group">
<div class="figure-row">
<figure >
<div class="media">
<div >
<picture>
<source srcset="http://material-design.storage.googleapis.com/images/components-bottomsheets-content-actionsheet_08_large_mdpi.png, //material-design.storage.googleapis.com/images/components-bottomsheets-content-actionsheet_08_large_xhdpi.png 2x, //material-design.storage.googleapis.com/images/components-bottomsheets-content-actionsheet_08_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/components-bottomsheets-content-actionsheet_08_large_mdpi.png" alt="">
</picture>
</div>
</div>
<figcaption>
Redline for list-style bottom sheet
</figcaption>
</figure>
<figure >
<div class="media">
<div >
<picture>
<source srcset="http://material-design.storage.googleapis.com/images/components-bottomsheets-content-actionsheet_08b_large_mdpi.png, //material-design.storage.googleapis.com/images/components-bottomsheets-content-actionsheet_08b_large_xhdpi.png 2x, //material-design.storage.googleapis.com/images/components-bottomsheets-content-actionsheet_08b_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/components-bottomsheets-content-actionsheet_08b_large_mdpi.png" alt="">
</picture>
</div>
</div>
</figure>
<figure >
<div class="media">
<div >
<picture>
<source srcset="http://material-design.storage.googleapis.com/images/components-bottomsheets-content-actionsheet_12_large_mdpi.png, //material-design.storage.googleapis.com/images/components-bottomsheets-content-actionsheet_12_large_xhdpi.png 2x, //material-design.storage.googleapis.com/images/components-bottomsheets-content-actionsheet_12_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/components-bottomsheets-content-actionsheet_12_large_mdpi.png" alt="">
</picture>
</div>
</div>
<figcaption>
Redline for list-style sheet with header
</figcaption>
</figure>
<figure >
<div class="media">
<div >
<picture>
<source srcset="http://material-design.storage.googleapis.com/images/components-bottomsheets-content-actionsheet_12b_large_mdpi.png, //material-design.storage.googleapis.com/images/components-bottomsheets-content-actionsheet_12b_large_xhdpi.png 2x, //material-design.storage.googleapis.com/images/components-bottomsheets-content-actionsheet_12b_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/components-bottomsheets-content-actionsheet_12b_large_mdpi.png" alt="">
</picture>
</div>
</div>
</figure>
<figure >
<div class="media">
<div >
<picture>
<source srcset="http://material-design.storage.googleapis.com/images/components-bottomsheets-content-bottomsheet_10a_large_mdpi.png, //material-design.storage.googleapis.com/images/components-bottomsheets-content-bottomsheet_10a_large_xhdpi.png 2x, //material-design.storage.googleapis.com/images/components-bottomsheets-content-bottomsheet_10a_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/components-bottomsheets-content-bottomsheet_10a_large_mdpi.png" alt="">
</picture>
</div>
</div>
</figure>
<figure >
<div class="media">
<div >
<picture>
<source srcset="http://material-design.storage.googleapis.com/images/components-bottomsheets-content-bottomsheet_10b_large_mdpi.png, //material-design.storage.googleapis.com/images/components-bottomsheets-content-bottomsheet_10b_large_xhdpi.png 2x, //material-design.storage.googleapis.com/images/components-bottomsheets-content-bottomsheet_10b_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/components-bottomsheets-content-bottomsheet_10b_large_mdpi.png" alt="">
</picture>
</div>
</div>
</figure>
<figure >
<div class="media">
<div >
<picture>
<source srcset="http://material-design.storage.googleapis.com/images/components-bottomsheets-content-actionsheet_20_large_mdpi.png, //material-design.storage.googleapis.com/images/components-bottomsheets-content-actionsheet_20_large_xhdpi.png 2x, //material-design.storage.googleapis.com/images/components-bottomsheets-content-actionsheet_20_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/components-bottomsheets-content-actionsheet_20_large_mdpi.png" alt="">
</picture>
</div>
</div>
<figcaption>
Redline for grid-style bottom sheet that contains a standard set of actions for other apps
</figcaption>
</figure>
<figure >
<div class="media">
<div >
<picture>
<source srcset="http://material-design.storage.googleapis.com/images/components-bottomsheets-content-actionsheet_20b_large_mdpi.png, //material-design.storage.googleapis.com/images/components-bottomsheets-content-actionsheet_20b_large_xhdpi.png 2x, //material-design.storage.googleapis.com/images/components-bottomsheets-content-actionsheet_20b_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/components-bottomsheets-content-actionsheet_20b_large_mdpi.png" alt="">
</picture>
</div>
</div>
</figure>
</div>
</div>
</section>
</div>
</div>
</div>
</div>
</div>
</div>
</section>
</div>
<footer>
<div class="footer-grid">
<div class="footer-L section-layout">&nbsp;</div>
<div class="footer-grid-L section-layout">
<a class="footer-text" href="../layout/structure.html">
<img class="arrow-L" alt="" src="http://material-design.storage.googleapis.com/images/Arrow-left_24x24px.svg"/>
<span>Previous:</span>
<div>
Layout
</div>
</a>
</div>
<div class="footer-R section-components">&nbsp;</div>
<div class="footer-grid-R section-components">
<a class="footer-text" href="buttons.html">
<img class="arrow-R" alt="" src="http://material-design.storage.googleapis.com/images/Arrow-right_24x24px.svg"/>
<span>Next:</span>
<div>
Buttons
</div>
</a>
</div>
</div>
</footer>
<script src="../../..//www.gstatic.com/external_hosted/picturefill/picturefill.min.js"></script>
<script src="../js/main.js"></script>
</body>
</html>
