<!DOCTYPE html>
<html class="qp-ui" data-qp-ui="{
'Futurizr': {
'hasTouch': 'touch'
}
}">
<head>
<link href="http://www.google.com/design/spec/css/style.css" rel="stylesheet" />
<link href='https://fonts.googleapis.com/css?family=RobotoDraft:400,500,700,400italic' rel='stylesheet' type='text/css'>
<meta charset="utf-8">
<meta name="viewport" content="initial-scale=1, width=device-width"/>
<!--<PageMap><DataObject type="document"><Attribute name="uid">140277891591976</Attribute><Attribute name="title">Cards</Attribute><Attribute name="keywords"></Attribute><Attribute name="slug">cards</Attribute><Attribute name="description">A card is a piece of paper that contains a unique data set of related, heterogeneous information.</Attribute><Attribute name="section_title">Components</Attribute><Attribute name="section_slug">components</Attribute></DataObject><DataObject type="thumbnail"><Attribute name="src" value="None" /></DataObject></PageMap>-->
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','http://www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-51798601-1', 'google.com');
ga('send', 'pageview');
</script>
<title>Cards - Components - Google design guidelines</title>
</head>
<body class=" section-components noninitial-chapter qp-ui" data-qp-ui="{ 'Mask': {} }">
<header>
<div class="header-wrapper">
<div class="header-title">
<span class="section-title">Components</span>
<span class="chapter-title">Cards</span>
</div>
</div>
</header>
<nav>
<button class="hamburger-button qp-ui" data-qp-ui="{ 'SideNavToggle': {} }" role="tab">Show navigation</button>
</nav>
<div class="preview-bar">
<div class="preview-wrapper">
<span>这是一份预览文档。</span>
</div>
</div>
<div id="side-nav" class="qp-ui" data-qp-ui="{ 'SideNavDrawer': {} }">
<div class="side-nav-wrapper">
<span id="logo"><img src="http://material-design.storage.googleapis.com/images/Google_Logo.svg" alt="Google logo"/></span>
<nav>
<dl>
<dt class="qp-ui" data-qp-ui="{ 'SideNavZippy': false }">Material Design</dt>
<dd>
<a href="../material-design/introduction.html">前言</a>
</dd>
<dt class="qp-ui" data-qp-ui="{ 'SideNavZippy': false }">动画效果</dt>
<dd>
<a href="../animation/authentic-motion.html">真实的动效</a>
<a href="../animation/responsive-interaction.html">响应式交互</a>
<a href="../animation/meaningful-transitions.html">富义的转场</a>
<a href="../animation/delightful-details.html">悦目的细节</a>
</dd>
<dt class="qp-ui" data-qp-ui="{ 'SideNavZippy': false }">风格样式</dt>
<dd>
<a href="../style/color.html">颜色</a>
<a href="../style/typography.html">字体</a>
<a href="../style/icons.html">图标</a>
<a href="../style/imagery.html">图像</a>
</dd>
<dt class="qp-ui" data-qp-ui="{ 'SideNavZippy': false }">排列布局</dt>
<dd>
<a href="../layout/layout-principles.html">产品理念</a>
<a href="../layout/metrics-and-keylines.html">度量标注</a>
<a href="../layout/structure.html">组织结构</a>
</dd>
<dt class="qp-ui" data-qp-ui="{ 'SideNavZippy': true }">Components</dt>
<dd>
<a href="bottom-sheets.html">Bottom Sheets</a>
<a href="buttons.html">Buttons</a>
<a class="nav_selected" href="cards.html">Cards</a>
<a href="chips-tokens.html">Chips </a>
<a href="dialogs.html">Dialogs</a>
<a href="dividers.html">Dividers</a>
<a href="grids.html">Grids</a>
<a href="lists.html">Lists</a>
<a href="list-controls.html">List controls</a>
<a href="menus.html">Menus</a>
<a href="progress-activity.html">Progress and Activity </a>
<a href="sliders.html">Sliders</a>
<a href="snackbars-and-toasts.html">Snackbars and Toasts</a>
<a href="subheaders.html">Subheaders </a>
<a href="switches.html">Switches</a>
<a href="tabs.html">Tabs</a>
<a href="text-fields.html">Text fields </a>
<a href="tooltips.html">Tooltips</a>
</dd>
<dt class="qp-ui" data-qp-ui="{ 'SideNavZippy': false }">Patterns</dt>
<dd>
<a href="../patterns/selection.html">Selection</a>
<a href="../patterns/gestures.html">Gestures</a>
<a href="../patterns/promoted-actions.html">Promoted Actions </a>
<a href="../patterns/settings.html">Settings</a>
<a href="../patterns/imagery-treatment.html">Imagery Treatment </a>
<a href="../patterns/search.html">Search </a>
</dd>
<dt class="qp-ui" data-qp-ui="{ 'SideNavZippy': false }">Usability</dt>
<dd>
<a href="../usability/accessibility.html">Accessibility</a>
</dd>
<dt class="qp-ui" data-qp-ui="{ 'SideNavZippy': false }">Resources</dt>
<dd>
<a href="../resources/layout-templates.html">Layout Templates</a>
<a href="../resources/sticker-sheets.html">Sticker Sheets</a>
<a href="../resources/roboto-font.html">Roboto Font</a>
<a href="../resources/color-palettes.html">Color Palettes</a>
</dd>
</dl>
</nav>
<div class="legal">
<p class="copyright">Google &copy;</p>
<a href="http://www.google.com/intl/en/policies/privacy/index.html">Privacy</a> &amp; <a href="http://www.google.com/intl/en/policies/terms/index.html">Terms</a>
</div>
</div>
</div>
<div id="grid-cont">
<section class="grid_outer chapter">
<h1 class="chapter-title">Cards</h1>
<div class="chapter-content">
<div class="chapter-intro">
A card is a piece of paper that contains a unique data set of related, heterogeneous information, for example, a photo, text, and link all about a single subject. Cards typically are an entry point to more complex and detailed information.
Cards have a constant width and variable height. The maximum height is limited to what can fit within a single view on a platform, but it can temporarily expand as needed (for example, to display a comment field).  Cards do not flip to reveal information on their back.
</div>
<nav class="chapter-toc">
<h1>Contents</h1>
<ul>
<li><a class="gweb-smoothscroll-control qp-ui" data-qp-ui="{ 'SmoothScroll': {} }" href="#cards-usage">Usage </a></li>
<li><a class="gweb-smoothscroll-control qp-ui" data-qp-ui="{ 'SmoothScroll': {} }" href="#cards-content">Content </a></li>
<li><a class="gweb-smoothscroll-control qp-ui" data-qp-ui="{ 'SmoothScroll': {} }" href="#cards-actions">Actions</a></li>
<li><a class="gweb-smoothscroll-control qp-ui" data-qp-ui="{ 'SmoothScroll': {} }" href="#cards-behavior">Behavior</a></li>
</ul>
</nav>
<div class="article-list">
<div id="cards-usage" class="article qp-ui" data-qp-ui="{ 'ScrollSpy': {} }">
<h2 class="article-title qp-ui" data-qp-ui="{ 'ResponsiveZippy': {} }">
Usage
<svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="icon icon-expand-collapse" role="img" viewBox="0 0 10 10" aria-labelledby="title desc">
<title id="title">Expand and collapse content</title>
<desc id="desc">An arrow that points down when collapsed and points up when expanded.</desc>
<polygon role="presentation" points="2.5,4.167 5,6.667 7.5,4.167 6.917,3.583 5,5.5 3.083,3.583"/>
</svg>
</h2>
<div class="article-content">
<div class="module-list">
<div id="usage-usage-1">
<section class="moduleE1">
<div class="module-body">
<p>Cards are a convenient means of displaying content composed of different types of objects. They’re also well-suited for presenting similar objects whose size or supported actions can vary considerably, like photos with captions of variable length.</p>
<p><strong>Note:</strong> Though similar in appearance, Now cards are a distinct subset of cards with unique behavior and formatting requirements.</p>
</div>
<div class="figure-group">
<div class="figure-row">
<figure >
<div class="media">
<div >
<picture>
<source srcset="http://material-design.storage.googleapis.com/images/components-cards-usage-card_single_large_mdpi.png, http://material-design.storage.googleapis.com/images/components-cards-usage-card_single_large_xhdpi.png 2x, http://material-design.storage.googleapis.com/images/components-cards-usage-card_single_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/components-cards-usage-card_single_large_mdpi.png" alt="">
</picture>
</div>
</div>
</figure>
</div>
</div>
</section>
</div>
<div id="usage-usage-2">
<section class="moduleD1">
<div class="module-body">
<p>A <strong>card collection</strong> is a coplanar layout of <strong>cards.</strong></p>
</div>
<div class="figure-group">
<div class="figure-row">
<figure >
<div class="media">
<div >
<picture>
<source srcset="http://material-design.storage.googleapis.com/images/components-cards-usage-card_travel_large_mdpi.png, http://material-design.storage.googleapis.com/images/components-cards-usage-card_travel_large_xhdpi.png 2x, http://material-design.storage.googleapis.com/images/components-cards-usage-card_travel_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/components-cards-usage-card_travel_large_mdpi.png" alt="">
</picture>
</div>
</div>
</figure>
<figure >
<div class="media">
<div >
<picture>
<source srcset="http://material-design.storage.googleapis.com/images/components-cards-content-card_books_large_mdpi.png, http://material-design.storage.googleapis.com/images/components-cards-content-card_books_large_xhdpi.png 2x, http://material-design.storage.googleapis.com/images/components-cards-content-card_books_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/components-cards-content-card_books_large_mdpi.png" alt="">
</picture>
</div>
</div>
</figure>
</div>
</div>
</section>
</div>
<div id="usage-usage-3">
<section class="moduleD1">
<div class="module-body">
Each of these cards contains a unique data set: a checklist with an action, a note with an action, a note with a photo.
</div>
<div class="figure-group">
<div class="figure-row">
<figure >
<div class="media">
<div >
<picture>
<source srcset="http://material-design.storage.googleapis.com/images/components-cards-content-card_notes_large_mdpi.png, http://material-design.storage.googleapis.com/images/components-cards-content-card_notes_large_xhdpi.png 2x, http://material-design.storage.googleapis.com/images/components-cards-content-card_notes_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/components-cards-content-card_notes_large_mdpi.png" alt="">
</picture>
</div>
</div>
</figure>
</div>
</div>
</section>
</div>
<div id="usage-usage -4">
<section class="moduleD1">
<div class="module-body">
<p>Use a card layout when displaying content that:</p>
<ul>
<li>As a collection, is comprised of multiple heterogeneous data types (for example, the card collection consists of photos, movies, text, images)</li>
<li>Does not require direct comparison (a user is not directly comparing images or text strings)</li>
<li>Includes supporting content of highly variable length, such as comments</li>
<li>Consists of rich content or interaction, such as +1 buttons, sliders, or comments</li>
<li>Would otherwise be in a list but needs to display more than three lines of text</li>
<li>Would otherwise be in a grid list but needs to display more text to supplement the image</li>
</ul>
</div>
<div class="figure-group">
<div class="figure-row">
<figure class="example do">
<div class="media">
<div >
<picture>
<source srcset="http://material-design.storage.googleapis.com/images/components-cards-usage-cardvstilea_large_mdpi.png, http://material-design.storage.googleapis.com/images/components-cards-usage-cardvstilea_large_xhdpi.png 2x, http://material-design.storage.googleapis.com/images/components-cards-usage-cardvstilea_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/components-cards-usage-cardvstilea_large_mdpi.png" alt="">
</picture>
</div>
</div>
<figcaption>
<div class="caption-title">Do. </div>
<p>1. Cards have rounded corners.</p>
<p>2. Cards can have multiple actions.</p>
<p>3. Cards can be dismissable and rearranged.</p>
</figcaption>
</figure>
<figure class="example dont">
<div class="media">
<div >
<picture>
<source srcset="http://material-design.storage.googleapis.com/images/components-cards-usage-cardvstileb_large_mdpi.png, http://material-design.storage.googleapis.com/images/components-cards-usage-cardvstileb_large_xhdpi.png 2x, http://material-design.storage.googleapis.com/images/components-cards-usage-cardvstileb_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/components-cards-usage-cardvstileb_large_mdpi.png" alt="">
</picture>
</div>
</div>
<figcaption>
<div class="caption-title">Don&#39;t. </div>
<p>This is not a card. This is a tile.</p>
<p>1. Tiles do not have rounded corners.</p>
<p>2. There are limited actions on tiles.</p>
<p>3. Maximum of 2 actions.</p>
</figcaption>
</figure>
<figure class="example do">
<div class="media">
<div >
<picture>
<source srcset="http://material-design.storage.googleapis.com/images/components-cards-usage-card_noa_large_mdpi.png, http://material-design.storage.googleapis.com/images/components-cards-usage-card_noa_large_xhdpi.png 2x, http://material-design.storage.googleapis.com/images/components-cards-usage-card_noa_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/components-cards-usage-card_noa_large_mdpi.png" alt="">
</picture>
</div>
</div>
<figcaption>
<div class="caption-title">Do. </div>
<p>Good job! This is a quickly scannable list containing homogeneous information.</p>
</figcaption>
</figure>
<figure class="example dont">
<div class="media">
<div >
<picture>
<source srcset="http://material-design.storage.googleapis.com/images/components-cards-usage-card_nob_large_mdpi.png, http://material-design.storage.googleapis.com/images/components-cards-usage-card_nob_large_xhdpi.png 2x, http://material-design.storage.googleapis.com/images/components-cards-usage-card_nob_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/components-cards-usage-card_nob_large_mdpi.png" alt="">
</picture>
</div>
</div>
<figcaption>
<div class="caption-title">Don&#39;t. </div>
<p>Do not over cardify</p><p>The use of cards here distracts the user from being able to quickly scan. These list items are also not dismissable, so having them on separate cards is confusing.</p>
</figcaption>
</figure>
<figure class="example do">
<div class="media">
<div >
<picture>
<source srcset="http://material-design.storage.googleapis.com/images/components-cards-usage-card_no2a_large_mdpi.png, http://material-design.storage.googleapis.com/images/components-cards-usage-card_no2a_large_xhdpi.png 2x, http://material-design.storage.googleapis.com/images/components-cards-usage-card_no2a_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/components-cards-usage-card_no2a_large_mdpi.png" alt="">
</picture>
</div>
</div>
<figcaption>
<div class="caption-title">Do. </div>
Correct use of grid tiles
</figcaption>
</figure>
<figure class="example dont">
<div class="media">
<div >
<picture>
<source srcset="http://material-design.storage.googleapis.com/images/components-cards-usage-card_no2b_large_mdpi.png, http://material-design.storage.googleapis.com/images/components-cards-usage-card_no2b_large_xhdpi.png 2x, http://material-design.storage.googleapis.com/images/components-cards-usage-card_no2b_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/components-cards-usage-card_no2b_large_mdpi.png" alt="">
</picture>
</div>
</div>
<figcaption>
<div class="caption-title">Don&#39;t.</div>
Shouldn't have used cards
</figcaption>
</figure>
</div>
</div>
</section>
</div>
<div id="usage-card-layout-guidelines">
<section class="moduleD1">
<h3>Card layout guidelines</h3>
<div class="module-body">
<p><strong>Typography</strong></p>
<p>Body type: 14 sp or 16 sp</p>
<p>Headlines: 24 sp or larger</p>
<p>Flat Buttons: Roboto Medium, 14 sp, 10 sp tracking</p>
<p><strong>Card gutters on mobile</strong></p>
<p>Padding from edge of screen to card: 8 dp</p>
<p>Gutters between cards: 8 dp</p>
<p><strong>Content padding</strong></p>
<p>16 dp</p>
</div>
<div class="figure-group">
<div class="figure-row">
<figure >
<div class="media">
<div >
<picture>
<source srcset="http://material-design.storage.googleapis.com/images/components-cards-usage-cards_guidelines_large_mdpi.png, http://material-design.storage.googleapis.com/images/components-cards-usage-cards_guidelines_large_xhdpi.png 2x, http://material-design.storage.googleapis.com/images/components-cards-usage-cards_guidelines_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/components-cards-usage-cards_guidelines_large_mdpi.png" alt="">
</picture>
</div>
</div>
</figure>
<figure >
<div class="media">
<div >
<picture>
<source srcset="http://material-design.storage.googleapis.com/images/components-cards-11_large_mdpi.png, http://material-design.storage.googleapis.com/images/components-cards-11_large_xhdpi.png 2x, http://material-design.storage.googleapis.com/images/components-cards-11_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/components-cards-11_large_mdpi.png" alt="">
</picture>
</div>
</div>
</figure>
<figure >
<div class="media">
<div >
<picture>
<source srcset="http://material-design.storage.googleapis.com/images/components-cards-13_large_mdpi.png, http://material-design.storage.googleapis.com/images/components-cards-13_large_xhdpi.png 2x, http://material-design.storage.googleapis.com/images/components-cards-13_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/components-cards-13_large_mdpi.png" alt="">
</picture>
</div>
</div>
</figure>
<figure >
<div class="media">
<div >
<picture>
<source srcset="http://material-design.storage.googleapis.com/images/components-cards-15_large_mdpi.png, http://material-design.storage.googleapis.com/images/components-cards-15_large_xhdpi.png 2x, http://material-design.storage.googleapis.com/images/components-cards-15_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/components-cards-15_large_mdpi.png" alt="">
</picture>
</div>
</div>
</figure>
</div>
</div>
</section>
</div>
</div>
</div>
</div>
<div id="cards-content" class="article qp-ui" data-qp-ui="{ 'ScrollSpy': {} }">
<h2 class="article-title qp-ui" data-qp-ui="{ 'ResponsiveZippy': {} }">
Content
<svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="icon icon-expand-collapse" role="img" viewBox="0 0 10 10" aria-labelledby="title desc">
<title id="title">Expand and collapse content</title>
<desc id="desc">An arrow that points down when collapsed and points up when expanded.</desc>
<polygon role="presentation" points="2.5,4.167 5,6.667 7.5,4.167 6.917,3.583 5,5.5 3.083,3.583"/>
</svg>
</h2>
<div class="article-content">
<div class="module-list">
<div id="content-card-content-1">
<section class="moduleD1">
<div class="module-body">
<p>Card content type and quantity can vary greatly depending on the content being expressed. Cards provide context and an entry point to more robust information and views; make sure not to overload cards with extraneous information or actions.</p>
</div>
<div class="figure-group">
<div class="figure-row">
<figure >
<div class="media">
<div >
<picture>
<source srcset="http://material-design.storage.googleapis.com/images/components-cards-content-card_books_large_mdpi.png, http://material-design.storage.googleapis.com/images/components-cards-content-card_books_large_xhdpi.png 2x, http://material-design.storage.googleapis.com/images/components-cards-content-card_books_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/components-cards-content-card_books_large_mdpi.png" alt="">
</picture>
</div>
</div>
</figure>
<figure >
<div class="media">
<div >
<picture>
<source srcset="http://material-design.storage.googleapis.com/images/components-cards-content-card_discover_large_mdpi.png, http://material-design.storage.googleapis.com/images/components-cards-content-card_discover_large_xhdpi.png 2x, http://material-design.storage.googleapis.com/images/components-cards-content-card_discover_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/components-cards-content-card_discover_large_mdpi.png" alt="">
</picture>
</div>
</div>
</figure>
</div>
</div>
</section>
</div>
<div id="content-card-content-2">
<section class="moduleD1">
<div class="module-body">
<p>Place primary content at the top of the card. Use hierarchy to direct users’ attention to the most important information in the card.</p>
</div>
<div class="figure-group">
<div class="figure-row">
<figure >
<div class="media">
<div >
<picture>
<source srcset="http://material-design.storage.googleapis.com/images/components-cards-usage-card_travel_large_mdpi.png, http://material-design.storage.googleapis.com/images/components-cards-usage-card_travel_large_xhdpi.png 2x, http://material-design.storage.googleapis.com/images/components-cards-usage-card_travel_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/components-cards-usage-card_travel_large_mdpi.png" alt="">
</picture>
</div>
</div>
</figure>
<figure >
<div class="media">
<div >
<picture>
<source srcset="http://material-design.storage.googleapis.com/images/components-cards-content-card_notes_large_mdpi.png, http://material-design.storage.googleapis.com/images/components-cards-content-card_notes_large_xhdpi.png 2x, http://material-design.storage.googleapis.com/images/components-cards-content-card_notes_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/components-cards-content-card_notes_large_mdpi.png" alt="">
</picture>
</div>
</div>
</figure>
</div>
</div>
</section>
</div>
</div>
</div>
</div>
<div id="cards-actions" class="article qp-ui" data-qp-ui="{ 'ScrollSpy': {} }">
<h2 class="article-title qp-ui" data-qp-ui="{ 'ResponsiveZippy': {} }">
Actions
<svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="icon icon-expand-collapse" role="img" viewBox="0 0 10 10" aria-labelledby="title desc">
<title id="title">Expand and collapse content</title>
<desc id="desc">An arrow that points down when collapsed and points up when expanded.</desc>
<polygon role="presentation" points="2.5,4.167 5,6.667 7.5,4.167 6.917,3.583 5,5.5 3.083,3.583"/>
</svg>
</h2>
<div class="article-content">
<div class="module-list">
<div id="actions-actions">
<section class="moduleE1">
<div class="module-body">
<p>The primary action in a card is typically the card itself.</p>
<p>Supplemental actions can vary from card to card in a collection depending on the content type and expected outcome, for example, playing a movie versus opening a book. Within cards in a collection, position actions consistently.</p>
<p><strong>Supplemental actions</strong></p>
<p>Supplemental actions within the card are explicitly called out using icons, text, and UI controls, typically placed at the bottom of the card.</p>
<p>UI controls placed inline with primary content can modify the view of primary content, for example, a slider to choose a day, stars to rate content, or a segmented button to select a date range.</p>
<p>Limit supplemental actions to two actions, in addition to an overflow menu.</p>
<p><strong>Overflow menu</strong></p>
<p>An overflow menu (optional) typically is placed in the upper-right corner of cards, but it can be placed in the lower right if the placement improves content layout and legibility.</p>
<p>Take care not to overload an overflow menu with too many actions.</p>
<p><strong>Considerations</strong></p>
<p>Inline links within text content are strongly discouraged.</p>
<p>Although cards can support multiple actions, UI controls, and an overflow menu, use restraint and remember that cards are entry points to more complex and detailed information.</p>
</div>
<div class="figure-group">
<div class="figure-row">
<figure >
<div class="media">
<div >
<picture>
<source srcset="http://material-design.storage.googleapis.com/images/components-cards-actions-card_actionsa_large_mdpi.png, http://material-design.storage.googleapis.com/images/components-cards-actions-card_actionsa_large_xhdpi.png 2x, http://material-design.storage.googleapis.com/images/components-cards-actions-card_actionsa_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/components-cards-actions-card_actionsa_large_mdpi.png" alt="">
</picture>
</div>
</div>
</figure>
<figure >
<div class="media">
<div >
<picture>
<source srcset="http://material-design.storage.googleapis.com/images/components-cards-actions-card_actionsb_large_mdpi.png, http://material-design.storage.googleapis.com/images/components-cards-actions-card_actionsb_large_xhdpi.png 2x, http://material-design.storage.googleapis.com/images/components-cards-actions-card_actionsb_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/components-cards-actions-card_actionsb_large_mdpi.png" alt="">
</picture>
</div>
</div>
</figure>
<figure >
<div class="media">
<div >
<picture>
<source srcset="http://material-design.storage.googleapis.com/images/components-cards-actions-card_actionsc_large_mdpi.png, http://material-design.storage.googleapis.com/images/components-cards-actions-card_actionsc_large_xhdpi.png 2x, http://material-design.storage.googleapis.com/images/components-cards-actions-card_actionsc_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/components-cards-actions-card_actionsc_large_mdpi.png" alt="">
</picture>
</div>
</div>
</figure>
<figure >
<div class="media">
<div >
<picture>
<source srcset="http://material-design.storage.googleapis.com/images/components-cards-actions-card_actionsd_large_mdpi.png, http://material-design.storage.googleapis.com/images/components-cards-actions-card_actionsd_large_xhdpi.png 2x, http://material-design.storage.googleapis.com/images/components-cards-actions-card_actionsd_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/components-cards-actions-card_actionsd_large_mdpi.png" alt="">
</picture>
</div>
</div>
</figure>
</div>
</div>
</section>
</div>
</div>
</div>
</div>
<div id="cards-behavior" class="article qp-ui" data-qp-ui="{ 'ScrollSpy': {} }">
<h2 class="article-title qp-ui" data-qp-ui="{ 'ResponsiveZippy': {} }">
Behavior
<svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="icon icon-expand-collapse" role="img" viewBox="0 0 10 10" aria-labelledby="title desc">
<title id="title">Expand and collapse content</title>
<desc id="desc">An arrow that points down when collapsed and points up when expanded.</desc>
<polygon role="presentation" points="2.5,4.167 5,6.667 7.5,4.167 6.917,3.583 5,5.5 3.083,3.583"/>
</svg>
</h2>
<div class="article-content">
<div class="module-list">
<div id="behavior-gestures">
<section class="moduleB1">
<h3>Gestures</h3>
<div class="module-body">
<p>The swipe gesture on a per-card basis is supported. Card gesture behavior should be consistently implemented within a card collection.</p>
<p>The pick-up-and-move gesture is possible. However, consider whether it’s important for the user to be able to sort cards within the collection or if the content would be better experienced with programmatic filtering/sorting.</p>
</div>
</section>
</div>
<div id="behavior-card-collection">
<section class="moduleB1">
<h3>Card collection filtering, sorting, and reorganization</h3>
<div class="module-body">
<p>Card collections can be programmatically sorted or filtered by date, file size, alphabetical order, or other parameters. The first item in the collection is positioned at the top left of the collection, and the order proceeds left to right and top to bottom.</p>
</div>
</section>
</div>
<div id="behavior-scrolling">
<section class="moduleB1">
<h3>Scrolling</h3>
<div class="module-body">
<p>Card collections scroll vertically only. Card content that exceeds the maximum card height is truncated and does not scroll.</p>
<p>Cards with truncated content can be expanded, in which case the card height may exceed the maximum of the view. In this case, the card will scroll with the card collection.</p>
</div>
</section>
</div>
<div id="behavior-card-focus">
<section class="moduleB1">
<h3>Card focus</h3>
<div class="module-body">
<p>For interfaces dependent upon sequential focus traversal for navigation (DPad, keyboard), individual cards should either have only a primary action or open a new view with the primary and supplemental actions available.</p>
</div>
</section>
</div>
</div>
</div>
</div>
</div>
</div>
</section>
</div>
<footer>
<div class="footer-grid">
<div class="footer-L section-components">&nbsp;</div>
<div class="footer-grid-L section-components">
<a class="footer-text" href="buttons.html">
<img class="arrow-L" alt="" src="http://material-design.storage.googleapis.com/images/Arrow-left_24x24px.svg"/>
<span>Previous:</span>
<div>
Buttons
</div>
</a>
</div>
<div class="footer-R section-components">&nbsp;</div>
<div class="footer-grid-R section-components">
<a class="footer-text" href="chips-tokens.html">
<img class="arrow-R" alt="" src="http://material-design.storage.googleapis.com/images/Arrow-right_24x24px.svg"/>
<span>Next:</span>
<div>
Chips
</div>
</a>
</div>
</div>
</footer>
<script src="../../..//www.gstatic.com/external_hosted/picturefill/picturefill.min.js"></script>
<script src="http://www.google.com/design/spec/js/main.js"></script>
</body>
</html>
