<!DOCTYPE html>
<html class="qp-ui" data-qp-ui="{
'Futurizr': {
'hasTouch': 'touch'
}
}">
<head>
<link href="http://www.google.com/design/spec/css/style.css" rel="stylesheet" />
<link href='https://fonts.googleapis.com/css?family=RobotoDraft:400,500,700,400italic' rel='stylesheet' type='text/css'>
<meta charset="utf-8">
<meta name="viewport" content="initial-scale=1, width=device-width"/>
<!--<PageMap><DataObject type="document"><Attribute name="uid">140269836563260</Attribute><Attribute name="title">Grids</Attribute><Attribute name="keywords"></Attribute><Attribute name="slug">grids</Attribute><Attribute name="description">Grid lists are an alternative to standard list views. Grid lists are distinct from grids used for layouts and other visual presentations.</Attribute><Attribute name="section_title">Components</Attribute><Attribute name="section_slug">components</Attribute></DataObject><DataObject type="thumbnail"><Attribute name="src" value="None" /></DataObject></PageMap>-->
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','http://www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-51798601-1', 'google.com');
ga('send', 'pageview');
</script>
<title>Grids - Components - Google design guidelines</title>
</head>
<body class=" section-components noninitial-chapter qp-ui" data-qp-ui="{ 'Mask': {} }">
<header>
<div class="header-wrapper">
<div class="header-title">
<span class="section-title">Components</span>
<span class="chapter-title">Grids</span>
</div>
</div>
</header>
<nav>
<button class="hamburger-button qp-ui" data-qp-ui="{ 'SideNavToggle': {} }" role="tab">Show navigation</button>
</nav>
<div class="preview-bar">
<div class="preview-wrapper">
<span>这是一份预览文档。</span>
</div>
</div>
<div id="side-nav" class="qp-ui" data-qp-ui="{ 'SideNavDrawer': {} }">
<div class="side-nav-wrapper">
<span id="logo"><img src="http://material-design.storage.googleapis.com/images/Google_Logo.svg" alt="Google logo"/></span>
<nav>
<dl>
<dt class="qp-ui" data-qp-ui="{ 'SideNavZippy': false }">实体设计</dt>
<dd>
<a href="../material-design/introduction.html">前言</a>
</dd>
<dt class="qp-ui" data-qp-ui="{ 'SideNavZippy': false }">动画效果</dt>
<dd>
<a href="../animation/authentic-motion.html">真实的动效</a>
<a href="../animation/responsive-interaction.html">响应式交互</a>
<a href="../animation/meaningful-transitions.html">富义的转场</a>
<a href="../animation/delightful-details.html">悦目的细节</a>
</dd>
<dt class="qp-ui" data-qp-ui="{ 'SideNavZippy': false }">风格样式</dt>
<dd>
<a href="../style/color.html">颜色</a>
<a href="../style/typography.html">字体</a>
<a href="../style/icons.html">图标</a>
<a href="../style/imagery.html">图像</a>
</dd>
<dt class="qp-ui" data-qp-ui="{ 'SideNavZippy': false }">排列布局</dt>
<dd>
<a href="../layout/layout-principles.html">产品理念</a>
<a href="../layout/metrics-and-keylines.html">度量标注</a>
<a href="../layout/structure.html">组织结构</a>
</dd>
<dt class="qp-ui" data-qp-ui="{ 'SideNavZippy': true }">组件构成</dt>
<dd>
<a href="bottom-sheets.html">Bottom Sheets</a>
<a href="buttons.html">按钮</a>
<a href="cards.html">卡片</a>
<a href="chips-tokens.html">Chips </a>
<a href="dialogs.html">Dialogs</a>
<a href="dividers.html">Dividers</a>
<a class="nav_selected" href="grids.html">Grids</a>
<a href="lists.html">Lists</a>
<a href="list-controls.html">List controls</a>
<a href="menus.html">Menus</a>
<a href="progress-activity.html">Progress and Activity </a>
<a href="sliders.html">Sliders</a>
<a href="snackbars-and-toasts.html">Snackbars and Toasts</a>
<a href="subheaders.html">Subheaders </a>
<a href="switches.html">Switches</a>
<a href="tabs.html">Tabs</a>
<a href="text-fields.html">Text fields </a>
<a href="tooltips.html">Tooltips</a>
</dd>
<dt class="qp-ui" data-qp-ui="{ 'SideNavZippy': false }">Patterns</dt>
<dd>
<a href="../patterns/selection.html">Selection</a>
<a href="../patterns/gestures.html">Gestures</a>
<a href="../patterns/promoted-actions.html">Promoted Actions </a>
<a href="../patterns/settings.html">Settings</a>
<a href="../patterns/imagery-treatment.html">Imagery Treatment </a>
<a href="../patterns/search.html">Search </a>
</dd>
<dt class="qp-ui" data-qp-ui="{ 'SideNavZippy': false }">Usability</dt>
<dd>
<a href="../usability/accessibility.html">Accessibility</a>
</dd>
<dt class="qp-ui" data-qp-ui="{ 'SideNavZippy': false }">Resources</dt>
<dd>
<a href="../resources/layout-templates.html">Layout Templates</a>
<a href="../resources/sticker-sheets.html">Sticker Sheets</a>
<a href="../resources/roboto-font.html">Roboto Font</a>
<a href="../resources/color-palettes.html">Color Palettes</a>
</dd>
</dl>
</nav>
<div class="legal">
<p class="copyright">Google &copy;</p>
<a href="http://www.google.com/intl/en/policies/privacy/index.html">Privacy</a> &amp; <a href="http://www.google.com/intl/en/policies/terms/index.html">Terms</a>
</div>
</div>
</div>
<div id="grid-cont">
<section class="grid_outer chapter">
<h1 class="chapter-title">Grids</h1>
<div class="chapter-content">
<div class="chapter-intro">
Grid lists are an alternative to standard list views. Grid lists are distinct from grids used for layouts and other visual presentations.
</div>
<nav class="chapter-toc">
<h1>Contents</h1>
<ul>
<li><a class="gweb-smoothscroll-control qp-ui" data-qp-ui="{ 'SmoothScroll': {} }" href="#grids-grid-usage">Usage</a></li>
<li><a class="gweb-smoothscroll-control qp-ui" data-qp-ui="{ 'SmoothScroll': {} }" href="#grids-grids-content">Content</a></li>
<li><a class="gweb-smoothscroll-control qp-ui" data-qp-ui="{ 'SmoothScroll': {} }" href="#grids-grids-behavior">Behavior</a></li>
<li><a class="gweb-smoothscroll-control qp-ui" data-qp-ui="{ 'SmoothScroll': {} }" href="#grids-grids-keylines">Keylines</a></li>
</ul>
</nav>
<div class="article-list">
<div id="grids-grid-usage" class="article qp-ui" data-qp-ui="{ 'ScrollSpy': {} }">
<h2 class="article-title qp-ui" data-qp-ui="{ 'ResponsiveZippy': {} }">
Usage
<svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="icon icon-expand-collapse" role="img" viewBox="0 0 10 10" aria-labelledby="title desc">
<title id="title">Expand and collapse content</title>
<desc id="desc">An arrow that points down when collapsed and points up when expanded.</desc>
<polygon role="presentation" points="2.5,4.167 5,6.667 7.5,4.167 6.917,3.583 5,5.5 3.083,3.583"/>
</svg>
</h2>
<div class="article-content">
<div class="module-list">
<div id="grid-usage-when-to-use">
<section class="moduleD1">
<div class="module-body">
<p>A grid list is best suited to presenting a <strong>homogeneous data type</strong>, typically images, and is optimized for <strong>visual comprehension</strong> and differentiating between like data types.</p>
</div>
<div class="figure-group">
<div class="figure-row">
<figure >
<div class="media">
<div >
<picture>
<source srcset="http://material-design.storage.googleapis.com/images/components-grids-usage-spec_grid_drawings_01_large_mdpi.png, http://material-design.storage.googleapis.com/images/components-grids-usage-spec_grid_drawings_01_large_xhdpi.png 2x, http://material-design.storage.googleapis.com/images/components-grids-usage-spec_grid_drawings_01_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/components-grids-usage-spec_grid_drawings_01_large_mdpi.png" alt="">
</picture>
</div>
</div>
</figure>
</div>
</div>
</section>
</div>
<div id="grid-usage-definitions">
<section class="moduleD1">
<div class="module-body">
<p>A <strong>grid list</strong> is a continuous element consisting of tessellated, regular subdivisions called <strong>cells</strong> that contain <strong>tiles</strong>.</p>
<p><strong>Cells</strong> are arrayed vertically and horizontally within the grid.</p>
<p><strong>Tiles</strong> hold content, and can span one or more cells vertically or horizontally.</p>
</div>
<div class="figure-group">
<div class="figure-row">
<figure >
<div class="media">
<div >
<picture>
<source srcset="http://material-design.storage.googleapis.com/images/components-grids-usage-spec_grid_drawings_02a_large_mdpi.png, http://material-design.storage.googleapis.com/images/components-grids-usage-spec_grid_drawings_02a_large_xhdpi.png 2x, http://material-design.storage.googleapis.com/images/components-grids-usage-spec_grid_drawings_02a_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/components-grids-usage-spec_grid_drawings_02a_large_mdpi.png" alt="">
</picture>
</div>
</div>
</figure>
<figure >
<div class="media">
<div >
<picture>
<source srcset="http://material-design.storage.googleapis.com/images/components-grids-usage-spec_grid_drawings_02b_large_mdpi.png, http://material-design.storage.googleapis.com/images/components-grids-usage-spec_grid_drawings_02b_large_xhdpi.png 2x, http://material-design.storage.googleapis.com/images/components-grids-usage-spec_grid_drawings_02b_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/components-grids-usage-spec_grid_drawings_02b_large_mdpi.png" alt="">
</picture>
</div>
</div>
</figure>
</div>
</div>
</section>
</div>
<div id="grid-usage-usage-3">
<section class="moduleB1">
<div class="module-body">
<p>If the text in tiles needs to be prominent enough to distinguish between primary content pieces, consider using a different container, like a list or cards, that is optimized for displaying text and facilitating reading comprehension.</p>
<p><strong>Lists:</strong> Optimized for reading comprehension, particularly when comparing a set of data containing multiple data types.</p>
<p><strong>Cards:</strong> Used for content with inconsistent formatting, for example, photos with captions of variable length, or data sets with heterogeneous content, for example, a mixed collection of photos and videos and books.</p>
</div>
</section>
</div>
</div>
</div>
</div>
<div id="grids-grids-content" class="article qp-ui" data-qp-ui="{ 'ScrollSpy': {} }">
<h2 class="article-title qp-ui" data-qp-ui="{ 'ResponsiveZippy': {} }">
Content
<svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="icon icon-expand-collapse" role="img" viewBox="0 0 10 10" aria-labelledby="title desc">
<title id="title">Expand and collapse content</title>
<desc id="desc">An arrow that points down when collapsed and points up when expanded.</desc>
<polygon role="presentation" points="2.5,4.167 5,6.667 7.5,4.167 6.917,3.583 5,5.5 3.083,3.583"/>
</svg>
</h2>
<div class="article-content">
<div class="module-list">
<div id="grids-content-content-in-tiles">
<section class="moduleD1">
<h3>Content in tiles</h3>
<div class="module-body">
<p>Tile content consists of primary content and secondary content. Primary content is the main differentiating element, typically an image. Secondary content can be an action or text.</p>
<p>Provide a default image for tiles that lack an image for primary content.</p>
</div>
<div class="figure-group">
<div class="figure-row">
<figure >
<div class="media">
<div >
<picture>
<source srcset="http://material-design.storage.googleapis.com/images/components-grids-content-spec_grid_drawings_03_large_mdpi.png, http://material-design.storage.googleapis.com/images/components-grids-content-spec_grid_drawings_03_large_xhdpi.png 2x, http://material-design.storage.googleapis.com/images/components-grids-content-spec_grid_drawings_03_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/components-grids-content-spec_grid_drawings_03_large_mdpi.png" alt="">
</picture>
</div>
</div>
</figure>
</div>
</div>
</section>
</div>
<div id="grids-content-actions-in-tiles">
<section class="moduleD1">
<h3>Actions in tiles</h3>
<div class="module-body">
<p>Actions on both primary and secondary content—such as play, zoom in, delete, or select—are immediate and typically do not result in a submenu of options (action overflow) within the grid list.</p>
<p>Actions can open a subsequent view such as a card or hovercard.</p>
<p><strong>Primary actions:</strong></p>
<ul>
<li>Fill the entire tile and therefore are not represented via icons or text</li>
<li>Are consistent throughout tiles in a specific grid. For example, the primary action for all tiles in a single grid could be to view details for an image.</li>
</ul>
<p><strong>Secondary actions or content:</strong></p>
<ul>
<li>Are represented in tiles with icons or text.</li>
<li>Are consistent throughout tiles in a specific grid.</li>
<li>Are placed in a consistent location within the tiles of a specific grid, but that consistent location may vary between grids (at corners or edges). For example, all titles in a grid could be located at the bottom left corner.</li></ul>
</div>
<div class="figure-group">
<div class="figure-row">
<figure >
<div class="media">
<div >
<picture>
<source srcset="http://material-design.storage.googleapis.com/images/components-grids-content-spec_grid_drawings_04_large_mdpi.png, http://material-design.storage.googleapis.com/images/components-grids-content-spec_grid_drawings_04_large_xhdpi.png 2x, http://material-design.storage.googleapis.com/images/components-grids-content-spec_grid_drawings_04_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/components-grids-content-spec_grid_drawings_04_large_mdpi.png" alt="">
</picture>
</div>
</div>
</figure>
</div>
</div>
</section>
</div>
</div>
</div>
</div>
<div id="grids-grids-behavior" class="article qp-ui" data-qp-ui="{ 'ScrollSpy': {} }">
<h2 class="article-title qp-ui" data-qp-ui="{ 'ResponsiveZippy': {} }">
Behavior
<svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="icon icon-expand-collapse" role="img" viewBox="0 0 10 10" aria-labelledby="title desc">
<title id="title">Expand and collapse content</title>
<desc id="desc">An arrow that points down when collapsed and points up when expanded.</desc>
<polygon role="presentation" points="2.5,4.167 5,6.667 7.5,4.167 6.917,3.583 5,5.5 3.083,3.583"/>
</svg>
</h2>
<div class="article-content">
<div class="module-list">
<div id="grids-behavior-scrolling">
<section class="moduleD1">
<h3>Scrolling</h3>
<div class="module-body">
<p>Grids typically scroll only vertically.</p>
<p>Horizontally scrolling grids are discouraged because the scrolling interferes with typical reading patterns, impacting comprehension.</p>
<p>Cut off grid tiles to communicate the scroll direction for content overflow.</p>
</div>
<div class="figure-group">
<div class="figure-row">
<figure class="example do">
<div class="media">
<div >
<picture>
<source srcset="http://material-design.storage.googleapis.com/images/components-grids-behavior-spec_grid_drawings_06_large_mdpi.png, http://material-design.storage.googleapis.com/images/components-grids-behavior-spec_grid_drawings_06_large_xhdpi.png 2x, http://material-design.storage.googleapis.com/images/components-grids-behavior-spec_grid_drawings_06_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/components-grids-behavior-spec_grid_drawings_06_large_mdpi.png" alt="">
</picture>
</div>
</div>
<figcaption>
<div class="caption-title">Do.</div>
Indicate content overflow by cutting off grid tiles.
</figcaption>
</figure>
<figure class="example dont">
<div class="media">
<div >
<picture>
<source srcset="http://material-design.storage.googleapis.com/images/components-grids-behavior-spec_grid_drawings_05_large_mdpi.png, http://material-design.storage.googleapis.com/images/components-grids-behavior-spec_grid_drawings_05_large_xhdpi.png 2x, http://material-design.storage.googleapis.com/images/components-grids-behavior-spec_grid_drawings_05_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/components-grids-behavior-spec_grid_drawings_05_large_mdpi.png" alt="">
</picture>
</div>
</div>
<figcaption>
<div class="caption-title">Don&#39;t.</div>
</figcaption>
</figure>
</div>
</div>
</section>
</div>
<div id="grids-behavior-gestures">
<section class="moduleB1">
<h3>Gestures</h3>
<div class="module-body">
<p>Per-tile swipe actions are not permitted. Pick-up-and-move actions are discouraged.</p>
</div>
</section>
</div>
<div id="grids-behavior-tile-filtering-and-sorting">
<section class="moduleB1">
<h3>Tile filtering and sorting</h3>
<div class="module-body">
<p>Content in a grid list can be programmatically filtered or sorted by date, file size, alphabetical order, or other parameters.</p>
<p>The first item in the grid is positioned in the top left of the grid and the order proceeds left to right and top to bottom.</p>
</div>
</section>
</div>
<div id="grids-behavior-dimensions-and-resizing">
<section class="moduleB1">
<h3>Dimensions and resizing</h3>
<div class="module-body">
<p>Resizing a grid list will cause the tiles to re-sort as horizontal space becomes available. Tiles do not scale to fill available horizontal space.</p>
<p>A grid list does not transform into a list when horizontal space contracts. Grid lists and lists are separate structures for emphasizing different data types: prioritizing images over text versus prioritizing text over images.</p>
</div>
</section>
</div>
</div>
</div>
</div>
<div id="grids-grids-keylines" class="article qp-ui" data-qp-ui="{ 'ScrollSpy': {} }">
<h2 class="article-title qp-ui" data-qp-ui="{ 'ResponsiveZippy': {} }">
Keylines
<svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="icon icon-expand-collapse" role="img" viewBox="0 0 10 10" aria-labelledby="title desc">
<title id="title">Expand and collapse content</title>
<desc id="desc">An arrow that points down when collapsed and points up when expanded.</desc>
<polygon role="presentation" points="2.5,4.167 5,6.667 7.5,4.167 6.917,3.583 5,5.5 3.083,3.583"/>
</svg>
</h2>
<div class="article-content">
<div class="module-list">
<div id="grids-keylines-grid-list-header-footer">
<section class="moduleE1">
<h3>Grid list header/footers</h3>
<div class="module-body">
<p><strong>Single-line header/footer</strong></p>
<p>Height: 48 dp</p>
<p>Text padding: 16 dp</p>
<p>Default font size: 16 sp</p>
<p>Secondary action is flush right to the footer.</p>
<p><strong>Two-line header/footer</strong></p>
<p>Height: 68 dp</p>
<p>Text padding: 16 dp</p>
<p>Default font size for each line: 16sp/12sp or 14sp/14sp</p>
</div>
<div class="figure-group">
<div class="figure-row">
<figure >
<div class="media">
<div >
<picture>
<source srcset="http://material-design.storage.googleapis.com/images/components-grids-keylines-Grid_footer_overview_01a_large_mdpi.png, http://material-design.storage.googleapis.com/images/components-grids-keylines-Grid_footer_overview_01a_large_xhdpi.png 2x, http://material-design.storage.googleapis.com/images/components-grids-keylines-Grid_footer_overview_01a_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/components-grids-keylines-Grid_footer_overview_01a_large_mdpi.png" alt="">
</picture>
</div>
</div>
</figure>
<figure >
<div class="media">
<div >
<picture>
<source srcset="http://material-design.storage.googleapis.com/images/components-grids-keylines-Grid_footer_overview_01b_large_mdpi.png, http://material-design.storage.googleapis.com/images/components-grids-keylines-Grid_footer_overview_01b_large_xhdpi.png 2x, http://material-design.storage.googleapis.com/images/components-grids-keylines-Grid_footer_overview_01b_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/components-grids-keylines-Grid_footer_overview_01b_large_mdpi.png" alt="">
</picture>
</div>
</div>
</figure>
</div>
</div>
</section>
</div>
<div id="grids-keylines-image-only-grid-list">
<section class="moduleD1">
<h3>Image-only grid list</h3>
<div class="module-body">
<p>Grid padding: 4 dp</p>
<p>Tiles in grid lists can span multiple columns.</p>
<p>Carefully consider whether secondary text is needed in grid lists that use multi-column tiles, as larger tiles can develop significant empty space.</p>
</div>
<div class="figure-group">
<div class="figure-row">
<figure >
<div class="media">
<div >
<picture>
<source srcset="http://material-design.storage.googleapis.com/images/components-grids-keylines-imageOnlyGrid_01_large_mdpi.png, http://material-design.storage.googleapis.com/images/components-grids-keylines-imageOnlyGrid_01_large_xhdpi.png 2x, http://material-design.storage.googleapis.com/images/components-grids-keylines-imageOnlyGrid_01_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/components-grids-keylines-imageOnlyGrid_01_large_mdpi.png" alt="">
</picture>
</div>
</div>
<figcaption>
<div class="caption-title">Element</div>
</figcaption>
</figure>
<figure >
<div class="media">
<div >
<picture>
<source srcset="http://material-design.storage.googleapis.com/images/components-grids-keylines-imageOnlyGrid_03_large_mdpi.png, http://material-design.storage.googleapis.com/images/components-grids-keylines-imageOnlyGrid_03_large_xhdpi.png 2x, http://material-design.storage.googleapis.com/images/components-grids-keylines-imageOnlyGrid_03_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/components-grids-keylines-imageOnlyGrid_03_large_mdpi.png" alt="">
</picture>
</div>
</div>
</figure>
</div>
</div>
</section>
</div>
<div id="grids-keylines-single-line-grid-list-1">
<section class="moduleD1">
<h3>Single-line grid list</h3>
<div class="module-body">
<p><strong>
Text only</strong></p>
<p>Height: 48 dp</p>
<p>Text padding: 16 dp</p>
<p>Default font size: 16sp</p>
<p>Grid padding: 4 dp</p>
</div>
<div class="figure-group">
<div class="figure-row">
<figure >
<div class="media">
<div >
<picture>
<source srcset="http://material-design.storage.googleapis.com/images/components-grids-keylines-SingleLineGrid_01a_large_mdpi.png, http://material-design.storage.googleapis.com/images/components-grids-keylines-SingleLineGrid_01a_large_xhdpi.png 2x, http://material-design.storage.googleapis.com/images/components-grids-keylines-SingleLineGrid_01a_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/components-grids-keylines-SingleLineGrid_01a_large_mdpi.png" alt="">
</picture>
</div>
</div>
<figcaption>
<div class="caption-title">Element</div>
</figcaption>
</figure>
<figure >
<div class="media">
<div >
<picture>
<source srcset="http://material-design.storage.googleapis.com/images/components-grids-keylines-SingleLineGrid_01b_large_mdpi.png, http://material-design.storage.googleapis.com/images/components-grids-keylines-SingleLineGrid_01b_large_xhdpi.png 2x, http://material-design.storage.googleapis.com/images/components-grids-keylines-SingleLineGrid_01b_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/components-grids-keylines-SingleLineGrid_01b_large_mdpi.png" alt="">
</picture>
</div>
</div>
<figcaption>
&nbsp;
</figcaption>
</figure>
<figure >
<div class="media">
<div >
<picture>
<source srcset="http://material-design.storage.googleapis.com/images/components-grids-keylines-SingleLineGrid_02_large_mdpi.png, http://material-design.storage.googleapis.com/images/components-grids-keylines-SingleLineGrid_02_large_xhdpi.png 2x, http://material-design.storage.googleapis.com/images/components-grids-keylines-SingleLineGrid_02_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/components-grids-keylines-SingleLineGrid_02_large_mdpi.png" alt="">
</picture>
</div>
</div>
<figcaption>
<div class="caption-title">Context</div>
</figcaption>
</figure>
</div>
</div>
</section>
</div>
<div id="grids-keylines-single-line-grid-list-2">
<section class="moduleD1">
<div class="module-body">
<p><strong>Text with icon</strong></p>
<p>Height: 48 dp</p>
<p>Text padding: 16 dp</p>
<p>Default font size: 16sp</p>
<p>Grid padding: 4 dp</p>
<p>The secondary action can be flush right or flush left within the footer or header.</p>
</div>
<div class="figure-group">
<div class="figure-row">
<figure >
<div class="media">
<div >
<picture>
<source srcset="http://material-design.storage.googleapis.com/images/components-grids-keylines-SingleLineGrid_03a_large_mdpi.png, http://material-design.storage.googleapis.com/images/components-grids-keylines-SingleLineGrid_03a_large_xhdpi.png 2x, http://material-design.storage.googleapis.com/images/components-grids-keylines-SingleLineGrid_03a_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/components-grids-keylines-SingleLineGrid_03a_large_mdpi.png" alt="">
</picture>
</div>
</div>
<figcaption>
<div class="caption-title">Element</div>
</figcaption>
</figure>
<figure >
<div class="media">
<div >
<picture>
<source srcset="http://material-design.storage.googleapis.com/images/components-grids-keylines-SingleLineGrid_03b_large_mdpi.png, http://material-design.storage.googleapis.com/images/components-grids-keylines-SingleLineGrid_03b_large_xhdpi.png 2x, http://material-design.storage.googleapis.com/images/components-grids-keylines-SingleLineGrid_03b_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/components-grids-keylines-SingleLineGrid_03b_large_mdpi.png" alt="">
</picture>
</div>
</div>
</figure>
<figure >
<div class="media">
<div >
<picture>
<source srcset="http://material-design.storage.googleapis.com/images/components-grids-keylines-SingleLineGrid_03c_large_mdpi.png, http://material-design.storage.googleapis.com/images/components-grids-keylines-SingleLineGrid_03c_large_xhdpi.png 2x, http://material-design.storage.googleapis.com/images/components-grids-keylines-SingleLineGrid_03c_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/components-grids-keylines-SingleLineGrid_03c_large_mdpi.png" alt="">
</picture>
</div>
</div>
</figure>
<figure >
<div class="media">
<div >
<picture>
<source srcset="http://material-design.storage.googleapis.com/images/components-grids-keylines-SingleLineGrid_03d_large_mdpi.png, http://material-design.storage.googleapis.com/images/components-grids-keylines-SingleLineGrid_03d_large_xhdpi.png 2x, http://material-design.storage.googleapis.com/images/components-grids-keylines-SingleLineGrid_03d_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/components-grids-keylines-SingleLineGrid_03d_large_mdpi.png" alt="">
</picture>
</div>
</div>
</figure>
<figure >
<div class="media">
<div >
<picture>
<source srcset="http://material-design.storage.googleapis.com/images/components-grids-keylines-SingleLineGrid_04_large_mdpi.png, http://material-design.storage.googleapis.com/images/components-grids-keylines-SingleLineGrid_04_large_xhdpi.png 2x, http://material-design.storage.googleapis.com/images/components-grids-keylines-SingleLineGrid_04_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/components-grids-keylines-SingleLineGrid_04_large_mdpi.png" alt="">
</picture>
</div>
</div>
</figure>
</div>
</div>
</section>
</div>
<div id="grids-keylines-two-line-grid-list-1">
<section class="moduleD1">
<h3>Two-line grid list</h3>
<div class="module-body">
<p>
<strong>Text only</strong></p>
<p>Height: 68 dp</p>
<p>Text padding: 16 dp</p>
<p>Default font size for each line:16sp/12sp or 14sp/14sp</p>
<p>Grid padding: 4 dp</p>
</div>
<div class="figure-group">
<div class="figure-row">
<figure >
<div class="media">
<div >
<picture>
<source srcset="http://material-design.storage.googleapis.com/images/components-grids-keylines-TwoLineGrid_01a_large_mdpi.png, http://material-design.storage.googleapis.com/images/components-grids-keylines-TwoLineGrid_01a_large_xhdpi.png 2x, http://material-design.storage.googleapis.com/images/components-grids-keylines-TwoLineGrid_01a_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/components-grids-keylines-TwoLineGrid_01a_large_mdpi.png" alt="">
</picture>
</div>
</div>
<figcaption>
<div class="caption-title">Element</div>
</figcaption>
</figure>
<figure >
<div class="media">
<div >
<picture>
<source srcset="http://material-design.storage.googleapis.com/images/components-grids-keylines-TwoLineGrid_01b_large_mdpi.png, http://material-design.storage.googleapis.com/images/components-grids-keylines-TwoLineGrid_01b_large_xhdpi.png 2x, http://material-design.storage.googleapis.com/images/components-grids-keylines-TwoLineGrid_01b_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/components-grids-keylines-TwoLineGrid_01b_large_mdpi.png" alt="">
</picture>
</div>
</div>
<figcaption>
&nbsp;
</figcaption>
</figure>
<figure >
<div class="media">
<div >
<picture>
<source srcset="http://material-design.storage.googleapis.com/images/components-grids-keylines-TwoLineGrid_02_large_mdpi.png, http://material-design.storage.googleapis.com/images/components-grids-keylines-TwoLineGrid_02_large_xhdpi.png 2x, http://material-design.storage.googleapis.com/images/components-grids-keylines-TwoLineGrid_02_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/components-grids-keylines-TwoLineGrid_02_large_mdpi.png" alt="">
</picture>
</div>
</div>
<figcaption>
<div class="caption-title">Context</div>
</figcaption>
</figure>
</div>
</div>
</section>
</div>
<div id="grids-keylines-two-line-grid-list-2">
<section class="moduleD1">
<div class="module-body">
<p><strong>Text with icon</strong></p>
<p>Height: 68 dp</p>
<p>Text padding: 16 dp</p>
<p>Default font size for each line: 16sp/12sp or 14sp/14sp</p>
<p>The secondary action can be flush right or flush left within the footer or header.</p>
<p>Grid padding is 4 dp</p>
</div>
<div class="figure-group">
<div class="figure-row">
<figure >
<div class="media">
<div >
<picture>
<source srcset="http://material-design.storage.googleapis.com/images/components-grids-keylines-TwoLineGrid_03a_large_mdpi.png, http://material-design.storage.googleapis.com/images/components-grids-keylines-TwoLineGrid_03a_large_xhdpi.png 2x, http://material-design.storage.googleapis.com/images/components-grids-keylines-TwoLineGrid_03a_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/components-grids-keylines-TwoLineGrid_03a_large_mdpi.png" alt="">
</picture>
</div>
</div>
<figcaption>
<div class="caption-title">Element</div>
</figcaption>
</figure>
<figure >
<div class="media">
<div >
<picture>
<source srcset="http://material-design.storage.googleapis.com/images/components-grids-keylines-TwoLineGrid_03b_large_mdpi.png, http://material-design.storage.googleapis.com/images/components-grids-keylines-TwoLineGrid_03b_large_xhdpi.png 2x, http://material-design.storage.googleapis.com/images/components-grids-keylines-TwoLineGrid_03b_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/components-grids-keylines-TwoLineGrid_03b_large_mdpi.png" alt="">
</picture>
</div>
</div>
<figcaption>
&nbsp;
</figcaption>
</figure>
<figure >
<div class="media">
<div >
<picture>
<source srcset="http://material-design.storage.googleapis.com/images/components-grids-keylines-TwoLineGrid_03c_large_mdpi.png, http://material-design.storage.googleapis.com/images/components-grids-keylines-TwoLineGrid_03c_large_xhdpi.png 2x, http://material-design.storage.googleapis.com/images/components-grids-keylines-TwoLineGrid_03c_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/components-grids-keylines-TwoLineGrid_03c_large_mdpi.png" alt="">
</picture>
</div>
</div>
<figcaption>
&nbsp;
</figcaption>
</figure>
<figure >
<div class="media">
<div >
<picture>
<source srcset="http://material-design.storage.googleapis.com/images/components-grids-keylines-TwoLineGrid_03d_large_mdpi.png, http://material-design.storage.googleapis.com/images/components-grids-keylines-TwoLineGrid_03d_large_xhdpi.png 2x, http://material-design.storage.googleapis.com/images/components-grids-keylines-TwoLineGrid_03d_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/components-grids-keylines-TwoLineGrid_03d_large_mdpi.png" alt="">
</picture>
</div>
</div>
<figcaption>
&nbsp;
</figcaption>
</figure>
<figure >
<div class="media">
<div >
<picture>
<source srcset="http://material-design.storage.googleapis.com/images/components-grids-keylines-TwoLineGrid_04_large_mdpi.png, http://material-design.storage.googleapis.com/images/components-grids-keylines-TwoLineGrid_04_large_xhdpi.png 2x, http://material-design.storage.googleapis.com/images/components-grids-keylines-TwoLineGrid_04_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/components-grids-keylines-TwoLineGrid_04_large_mdpi.png" alt="">
</picture>
</div>
</div>
<figcaption>
<div class="caption-title">Context</div>
</figcaption>
</figure>
</div>
</div>
</section>
</div>
</div>
</div>
</div>
</div>
</div>
</section>
</div>
<footer>
<div class="footer-grid">
<div class="footer-L section-components">&nbsp;</div>
<div class="footer-grid-L section-components">
<a class="footer-text" href="dividers.html">
<img class="arrow-L" alt="" src="http://material-design.storage.googleapis.com/images/Arrow-left_24x24px.svg"/>
<span>Previous:</span>
<div>
Dividers
</div>
</a>
</div>
<div class="footer-R section-components">&nbsp;</div>
<div class="footer-grid-R section-components">
<a class="footer-text" href="lists.html">
<img class="arrow-R" alt="" src="http://material-design.storage.googleapis.com/images/Arrow-right_24x24px.svg"/>
<span>Next:</span>
<div>
Lists
</div>
</a>
</div>
</div>
</footer>
<script src="../../..//www.gstatic.com/external_hosted/picturefill/picturefill.min.js"></script>
<script src="http://www.google.com/design/spec/js/main.js"></script>
</body>
</html>
