<!DOCTYPE html>
<html class="qp-ui" data-qp-ui="{
'Futurizr': {
'hasTouch': 'touch'
}
}">
<head>
<link href="http://www.google.com/design/spec/css/style.css" rel="stylesheet" />
<link href='https://fonts.googleapis.com/css?family=RobotoDraft:400,500,700,400italic' rel='stylesheet' type='text/css'>
<meta charset="utf-8">
<meta name="viewport" content="initial-scale=1, width=device-width"/>
<!--<PageMap><DataObject type="document"><Attribute name="uid">140268612304919</Attribute><Attribute name="title">Switches</Attribute><Attribute name="keywords"></Attribute><Attribute name="slug">switches</Attribute><Attribute name="description">Switches allow the user to select options. There are three kinds of switches: checkboxes, radio buttons, and on/off switches.</Attribute><Attribute name="section_title">Components</Attribute><Attribute name="section_slug">components</Attribute></DataObject><DataObject type="thumbnail"><Attribute name="src" value="None" /></DataObject></PageMap>-->
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','http://www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-51798601-1', 'google.com');
ga('send', 'pageview');
</script>
<title>Switches - Components - Google design guidelines</title>
</head>
<body class=" section-components noninitial-chapter qp-ui" data-qp-ui="{ 'Mask': {} }">
<header>
<div class="header-wrapper">
<div class="header-title">
<span class="section-title">Components</span>
<span class="chapter-title">Switches</span>
</div>
</div>
</header>
<nav>
<button class="hamburger-button qp-ui" data-qp-ui="{ 'SideNavToggle': {} }" role="tab">Show navigation</button>
</nav>
<div class="preview-bar">
<div class="preview-wrapper">
<span>这是一份预览文档。</span>
</div>
</div>
<div id="side-nav" class="qp-ui" data-qp-ui="{ 'SideNavDrawer': {} }">
<div class="side-nav-wrapper">
<span id="logo"><img src="http://material-design.storage.googleapis.com/images/Google_Logo.svg" alt="Google logo"/></span>
<nav>
<dl>
<dt class="qp-ui" data-qp-ui="{ 'SideNavZippy': false }">实体设计</dt>
<dd>
<a href="../material-design/introduction.html">前言</a>
</dd>
<dt class="qp-ui" data-qp-ui="{ 'SideNavZippy': false }">动画效果</dt>
<dd>
<a href="../animation/authentic-motion.html">真实的动效</a>
<a href="../animation/responsive-interaction.html">响应式交互</a>
<a href="../animation/meaningful-transitions.html">富义的转场</a>
<a href="../animation/delightful-details.html">悦目的细节</a>
</dd>
<dt class="qp-ui" data-qp-ui="{ 'SideNavZippy': false }">风格样式</dt>
<dd>
<a href="../style/color.html">颜色</a>
<a href="../style/typography.html">字体</a>
<a href="../style/icons.html">图标</a>
<a href="../style/imagery.html">图像</a>
</dd>
<dt class="qp-ui" data-qp-ui="{ 'SideNavZippy': false }">排列布局</dt>
<dd>
<a href="../layout/layout-principles.html">产品理念</a>
<a href="../layout/metrics-and-keylines.html">度量标注</a>
<a href="../layout/structure.html">组织结构</a>
</dd>
<dt class="qp-ui" data-qp-ui="{ 'SideNavZippy': true }">组件构成</dt>
<dd>
<a href="bottom-sheets.html">Bottom Sheets</a>
<a href="buttons.html">按钮</a>
<a href="cards.html">卡片</a>
<a href="chips-tokens.html">Chips </a>
<a href="dialogs.html">Dialogs</a>
<a href="dividers.html">Dividers</a>
<a href="grids.html">Grids</a>
<a href="lists.html">Lists</a>
<a href="list-controls.html">List controls</a>
<a href="menus.html">Menus</a>
<a href="progress-activity.html">Progress and Activity </a>
<a href="sliders.html">Sliders</a>
<a href="snackbars-and-toasts.html">Snackbars and Toasts</a>
<a href="subheaders.html">Subheaders </a>
<a class="nav_selected" href="switches.html">Switches</a>
<a href="tabs.html">Tabs</a>
<a href="text-fields.html">Text fields </a>
<a href="tooltips.html">Tooltips</a>
</dd>
<dt class="qp-ui" data-qp-ui="{ 'SideNavZippy': false }">Patterns</dt>
<dd>
<a href="../patterns/selection.html">Selection</a>
<a href="../patterns/gestures.html">Gestures</a>
<a href="../patterns/promoted-actions.html">Promoted Actions </a>
<a href="../patterns/settings.html">Settings</a>
<a href="../patterns/imagery-treatment.html">Imagery Treatment </a>
<a href="../patterns/search.html">Search </a>
</dd>
<dt class="qp-ui" data-qp-ui="{ 'SideNavZippy': false }">Usability</dt>
<dd>
<a href="../usability/accessibility.html">Accessibility</a>
</dd>
<dt class="qp-ui" data-qp-ui="{ 'SideNavZippy': false }">Resources</dt>
<dd>
<a href="../resources/layout-templates.html">Layout Templates</a>
<a href="../resources/sticker-sheets.html">Sticker Sheets</a>
<a href="../resources/roboto-font.html">Roboto Font</a>
<a href="../resources/color-palettes.html">Color Palettes</a>
</dd>
</dl>
</nav>
<div class="legal">
<p class="copyright">Google &copy;</p>
<a href="http://www.google.com/intl/en/policies/privacy/index.html">Privacy</a> &amp; <a href="http://www.google.com/intl/en/policies/terms/index.html">Terms</a>
</div>
</div>
</div>
<div id="grid-cont">
<section class="grid_outer chapter">
<h1 class="chapter-title">Switches</h1>
<div class="chapter-content">
<div class="chapter-intro">
<p>Switches allow the user to select options. There are three kinds of switches: checkboxes, radio buttons, and on/off switches.</p>
<p>Note: The graphic rings illustrated in the following examples represent animation and do not represent what buttons should look like in implementation.</p>
</div>
<nav class="chapter-toc">
<h1>Contents</h1>
<ul>
<li><a class="gweb-smoothscroll-control qp-ui" data-qp-ui="{ 'SmoothScroll': {} }" href="#switches-checkbox">Checkbox</a></li>
<li><a class="gweb-smoothscroll-control qp-ui" data-qp-ui="{ 'SmoothScroll': {} }" href="#switches-radio-button">Radio Button</a></li>
<li><a class="gweb-smoothscroll-control qp-ui" data-qp-ui="{ 'SmoothScroll': {} }" href="#switches-switch">Switch</a></li>
</ul>
</nav>
<div class="article-list">
<div id="switches-checkbox" class="article qp-ui" data-qp-ui="{ 'ScrollSpy': {} }">
<h2 class="article-title qp-ui" data-qp-ui="{ 'ResponsiveZippy': {} }">
Checkbox
<svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="icon icon-expand-collapse" role="img" viewBox="0 0 10 10" aria-labelledby="title desc">
<title id="title">Expand and collapse content</title>
<desc id="desc">An arrow that points down when collapsed and points up when expanded.</desc>
<polygon role="presentation" points="2.5,4.167 5,6.667 7.5,4.167 6.917,3.583 5,5.5 3.083,3.583"/>
</svg>
</h2>
<div class="article-content">
<div class="module-list">
<div id="checkbox-checkbox-1">
<section class="moduleD1">
<div class="module-body">
<p>Checkboxes allow the user to select multiple options from a set.</p>
<p>If you have multiple on/off options appearing in a list, checkboxes are a good way to preserve space.</p>
<p>If you have a single on/off option, avoid using a checkbox and use an on/off switch instead.</p>
<p>By actively transforming from a box into a checkmark, the action of checking something off feels more fulfilling and directly manipulated.</p>
<p>Checkboxes use animation to communicate focused and pressed states.</p>
</div>
<div class="figure-group">
<div class="figure-row">
<figure >
<div class="media">
<div class="qp-ui" data-qp-ui="{ 'VideoPlayer': {} }">
<video id="components-switches-checkbox-spec_checkbox--1"  loop  controls width="360" height="640">
<source src="http://material-design.storage.googleapis.com/videos/components-switches-checkbox-spec_checkbox_large_xhdpi.webm" type="video/webm">
<source src="http://material-design.storage.googleapis.com/videos/components-switches-checkbox-spec_checkbox_large_xhdpi.mp4" type="video/mp4">
<track kind="captions" src="http://material-design.storage.googleapis.com/videos/no-dialogue.vtt" type="text/vtt" srclang="en" label="English Captions" default />
</video>
</div>
</div>
<figcaption>
<label for="components-switches-checkbox-spec_checkbox--1" class="caption-title">Checkbox motion</label>
</figcaption>
</figure>
</div>
</div>
</section>
</div>
<div id="checkbox-checkbox-2">
<section class="moduleE1">
<div class="figure-group">
<div class="figure-row">
<figure >
<div class="media">
<div >
<picture>
<source srcset="http://material-design.storage.googleapis.com/images/components-switches-checkbox-switches_07a_large_mdpi.png, http://material-design.storage.googleapis.com/images/components-switches-checkbox-switches_07a_large_xhdpi.png 2x, http://material-design.storage.googleapis.com/images/components-switches-checkbox-switches_07a_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/components-switches-checkbox-switches_07a_large_mdpi.png" alt="">
</picture>
</div>
</div>
</figure>
<figure >
<div class="media">
<div >
<picture>
<source srcset="http://material-design.storage.googleapis.com/images/components-switches-checkbox-switches_07b_large_mdpi.png, http://material-design.storage.googleapis.com/images/components-switches-checkbox-switches_07b_large_xhdpi.png 2x, http://material-design.storage.googleapis.com/images/components-switches-checkbox-switches_07b_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/components-switches-checkbox-switches_07b_large_mdpi.png" alt="">
</picture>
</div>
</div>
</figure>
</div>
</div>
</section>
</div>
</div>
</div>
</div>
<div id="switches-radio-button" class="article qp-ui" data-qp-ui="{ 'ScrollSpy': {} }">
<h2 class="article-title qp-ui" data-qp-ui="{ 'ResponsiveZippy': {} }">
Radio Button
<svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="icon icon-expand-collapse" role="img" viewBox="0 0 10 10" aria-labelledby="title desc">
<title id="title">Expand and collapse content</title>
<desc id="desc">An arrow that points down when collapsed and points up when expanded.</desc>
<polygon role="presentation" points="2.5,4.167 5,6.667 7.5,4.167 6.917,3.583 5,5.5 3.083,3.583"/>
</svg>
</h2>
<div class="article-content">
<div class="module-list">
<div id="radio-button-radio-button-1">
<section class="moduleD1">
<div class="module-body">
<p>
Radio buttons allow the user to select one option from a set. Use radio buttons for exclusive selection if you think that the user needs to see all available options side-by-side.</p>
<p>Otherwise, consider a pulldown, which uses less space than displaying all options.</p>
<p>Radio buttons use animation to communicate focused and pressed states.</p>
</div>
<div class="figure-group">
<div class="figure-row">
<figure >
<div class="media">
<div class="qp-ui" data-qp-ui="{ 'VideoPlayer': {} }">
<video id="components-switches-radiobutton-spec_radio--1"  loop  controls width="360" height="640">
<source src="http://material-design.storage.googleapis.com/videos/components-switches-radiobutton-spec_radio_large_xhdpi.webm" type="video/webm">
<source src="http://material-design.storage.googleapis.com/videos/components-switches-radiobutton-spec_radio_large_xhdpi.mp4" type="video/mp4">
<track kind="captions" src="http://material-design.storage.googleapis.com/videos/no-dialogue.vtt" type="text/vtt" srclang="en" label="English Captions" default />
</video>
</div>
</div>
<figcaption>
<label for="components-switches-radiobutton-spec_radio--1" class="caption-title">Radio motion</label>
</figcaption>
</figure>
<figure >
<div class="media">
<div >
<picture>
<source srcset="http://material-design.storage.googleapis.com/images/components-switches-radio_02_large_mdpi.png, http://material-design.storage.googleapis.com/images/components-switches-radio_02_large_xhdpi.png 2x, http://material-design.storage.googleapis.com/images/components-switches-radio_02_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/components-switches-radio_02_large_mdpi.png" alt="">
</picture>
</div>
</div>
</figure>
</div>
</div>
</section>
</div>
<div id="radio-button-radio-button-2">
<section class="moduleE1">
<div class="figure-group">
<div class="figure-row">
<figure >
<div class="media">
<div >
<picture>
<source srcset="http://material-design.storage.googleapis.com/images/components-switches-radiobutton-radio_spec_12a_large_mdpi.png, http://material-design.storage.googleapis.com/images/components-switches-radiobutton-radio_spec_12a_large_xhdpi.png 2x, http://material-design.storage.googleapis.com/images/components-switches-radiobutton-radio_spec_12a_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/components-switches-radiobutton-radio_spec_12a_large_mdpi.png" alt="">
</picture>
</div>
</div>
</figure>
<figure >
<div class="media">
<div >
<picture>
<source srcset="http://material-design.storage.googleapis.com/images/components-switches-radiobutton-radio_spec_12b_large_mdpi.png, http://material-design.storage.googleapis.com/images/components-switches-radiobutton-radio_spec_12b_large_xhdpi.png 2x, http://material-design.storage.googleapis.com/images/components-switches-radiobutton-radio_spec_12b_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/components-switches-radiobutton-radio_spec_12b_large_mdpi.png" alt="">
</picture>
</div>
</div>
</figure>
</div>
</div>
</section>
</div>
</div>
</div>
</div>
<div id="switches-switch" class="article qp-ui" data-qp-ui="{ 'ScrollSpy': {} }">
<h2 class="article-title qp-ui" data-qp-ui="{ 'ResponsiveZippy': {} }">
Switch
<svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="icon icon-expand-collapse" role="img" viewBox="0 0 10 10" aria-labelledby="title desc">
<title id="title">Expand and collapse content</title>
<desc id="desc">An arrow that points down when collapsed and points up when expanded.</desc>
<polygon role="presentation" points="2.5,4.167 5,6.667 7.5,4.167 6.917,3.583 5,5.5 3.083,3.583"/>
</svg>
</h2>
<div class="article-content">
<div class="module-list">
<div id="switch-switch-1">
<section class="moduleD1">
<div class="module-body">
<p>
On/off switches toggle the state of a single settings option. The option that the switch controls, as well as the state it’s in, should be made clear from the corresponding inline label. Switches will take on the same visual properties of the radio button.</p>
<p>Switches use animation to communicate focus and pressed states.</p>
<p>The on/off slide toggle with the words “on” and “off” baked within the asset is deprecated. Use the switch shown here instead.</p>
</div>
<div class="figure-group">
<div class="figure-row">
<figure >
<div class="media">
<div >
<picture>
<source srcset="http://material-design.storage.googleapis.com/images/components-switches-switch-switches_spec_03_large_mdpi.png, http://material-design.storage.googleapis.com/images/components-switches-switch-switches_spec_03_large_xhdpi.png 2x, http://material-design.storage.googleapis.com/images/components-switches-switch-switches_spec_03_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/components-switches-switch-switches_spec_03_large_mdpi.png" alt="">
</picture>
</div>
</div>
</figure>
<figure >
<div class="media">
<div >
<picture>
<source srcset="http://material-design.storage.googleapis.com/images/components-switches-radio_switches_spec_03_dark_large_mdpi.png, http://material-design.storage.googleapis.com/images/components-switches-radio_switches_spec_03_dark_large_xhdpi.png 2x, http://material-design.storage.googleapis.com/images/components-switches-radio_switches_spec_03_dark_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/components-switches-radio_switches_spec_03_dark_large_mdpi.png" alt="">
</picture>
</div>
</div>
</figure>
<figure >
<div class="media">
<div class="qp-ui" data-qp-ui="{ 'VideoPlayer': {} }">
<video id="components-switches-switch-switches_spec_03--3"  loop  controls width="360" height="640">
<source src="http://material-design.storage.googleapis.com/videos/components-switches-switch-switches_spec_03_large_xhdpi.webm" type="video/webm">
<source src="http://material-design.storage.googleapis.com/videos/components-switches-switch-switches_spec_03_large_xhdpi.mp4" type="video/mp4">
<track kind="captions" src="http://material-design.storage.googleapis.com/videos/no-dialogue.vtt" type="text/vtt" srclang="en" label="English Captions" default />
</video>
</div>
</div>
</figure>
</div>
</div>
</section>
</div>
<div id="switch-switch-2">
<section class="moduleE1">
<div class="figure-group">
<div class="figure-row">
<figure >
<div class="media">
<div >
<picture>
<source srcset="http://material-design.storage.googleapis.com/images/components-switches-switch-switches_spec_10a_large_mdpi.png, http://material-design.storage.googleapis.com/images/components-switches-switch-switches_spec_10a_large_xhdpi.png 2x, http://material-design.storage.googleapis.com/images/components-switches-switch-switches_spec_10a_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/components-switches-switch-switches_spec_10a_large_mdpi.png" alt="">
</picture>
</div>
</div>
</figure>
<figure >
<div class="media">
<div >
<picture>
<source srcset="http://material-design.storage.googleapis.com/images/components-switches-switch-switches_spec_10b_large_mdpi.png, http://material-design.storage.googleapis.com/images/components-switches-switch-switches_spec_10b_large_xhdpi.png 2x, http://material-design.storage.googleapis.com/images/components-switches-switch-switches_spec_10b_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/components-switches-switch-switches_spec_10b_large_mdpi.png" alt="">
</picture>
</div>
</div>
</figure>
</div>
</div>
</section>
</div>
<div id="switch-switch-3">
<section class="moduleD1">
<div class="module-body">
Use the outer radial expansion only on form factors that favor finger touch, where interaction may obstruct the element completely. For desktop usage with a mouse, you do not need this extra indication.
</div>
<div class="figure-group">
<div class="figure-row">
<figure >
<div class="media">
<div >
<picture>
<source srcset="http://material-design.storage.googleapis.com/images/components-switches-switch-mobile-fingertouch_large_mdpi.png, http://material-design.storage.googleapis.com/images/components-switches-switch-mobile-fingertouch_large_xhdpi.png 2x, http://material-design.storage.googleapis.com/images/components-switches-switch-mobile-fingertouch_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/components-switches-switch-mobile-fingertouch_large_mdpi.png" alt="">
</picture>
</div>
</div>
</figure>
<figure >
<div class="media">
<div >
<picture>
<source srcset="http://material-design.storage.googleapis.com/images/components-switches-switch-desktop-fingertouch_large_mdpi.png, http://material-design.storage.googleapis.com/images/components-switches-switch-desktop-fingertouch_large_xhdpi.png 2x, http://material-design.storage.googleapis.com/images/components-switches-switch-desktop-fingertouch_large_xhdpi.png 3x"></source>
<img  src="http://material-design.storage.googleapis.com/images/components-switches-switch-desktop-fingertouch_large_mdpi.png" alt="">
</picture>
</div>
</div>
</figure>
</div>
</div>
</section>
</div>
</div>
</div>
</div>
</div>
</div>
</section>
</div>
<footer>
<div class="footer-grid">
<div class="footer-L section-components">&nbsp;</div>
<div class="footer-grid-L section-components">
<a class="footer-text" href="subheaders.html">
<img class="arrow-L" alt="" src="http://material-design.storage.googleapis.com/images/Arrow-left_24x24px.svg"/>
<span>Previous:</span>
<div>
Subheaders
</div>
</a>
</div>
<div class="footer-R section-components">&nbsp;</div>
<div class="footer-grid-R section-components">
<a class="footer-text" href="tabs.html">
<img class="arrow-R" alt="" src="http://material-design.storage.googleapis.com/images/Arrow-right_24x24px.svg"/>
<span>Next:</span>
<div>
Tabs
</div>
</a>
</div>
</div>
</footer>
<script src="http://www.gstatic.com/external_hosted/picturefill/picturefill.min.js"></script>
<script src="http://www.google.com/design/spec/js/main.js"></script>
</body>
</html>
